[2014-08-21 20:51] marcelabomfim opened #1 "Tests without board"
How do the installation for testing without having the board?
I'm doing a final completion of course work, which would be based on Arduino + web, but I was very interested by WeIO

[2014-10-11 18:43] govindnetworks opened #2 "wifi scan dropdown was not dynamic values"
Presetup:
           Does not connected with weio board.
Steps:
1. Start the server python weioServer.py
2. Connect localhost:8080 through firefox
   Expected:
   Scan all the wifi AP and list.
   It is listing all predefined wifi networks.

[2014-10-11 18:45] govindnetworks opened #3 "Fail to ask for Username and password"
Presetup:
Does not connected with weio board.

Steps:
    Start the server python weioServer.py
    Connect localhost:8080 through firefox.
 Expected: To ask username and password.
But it directly launch the IDE

[2014-10-11 18:48] govindnetworks opened #4 "Preview was not working"
Pre setup:
Does not connected with weio board.
Steps:
    Start the server python weioServer.py
    Connect localhost:8080 through firefox.
    Load the example program and click preview icon.
 Expected: Preview the output.
Fail to show output but it displayed 404 error.

[2014-10-11 18:56] govindnetworks opened #5 "Server Error message: /weio/running.p No such file or directory"
Presetup:
Does not connected with weio board.

Steps:
Start the server python weioServer.py
Connect localhost:8080 through firefox
Click preview or load some example program

Expected: It should start without any error message.
# But weioServer.py process giving below error message

ERR 4 :     return fn(_args, *_kwargs)
  File "./weioRunner.py", line 168, in userPlayer
ERR 5 :   File "./weioRunne

[2014-10-12 02:24] #4 closed, assigned to nobody

[2014-10-12 02:26] #5 closed, assigned to nobody

[2014-10-20 20:32] drasko opened #6 "Settings page frontend and backend"
Currently there is a settings page that is not functional: https://github.com/nodesign/weio/blob/master/www/settings.html. This page has to be connected with backend and re-designed in the frontend.

We should get to the page via pull-down menu clicking on user name (just above update).

User should be capable to change parameters like name, password and board name, and some other parameters from

[2014-10-29 08:44] ukicar opened #7 "Documentation inside IDE"
Currently Documentation tab in interface is blank. Here is documentation HTML tag https://github.com/nodesign/weio/blob/master/www/editor.html#L356

Main idea is to use Flatdoc library for manual and code visualization
http://ricostacruz.com/flatdoc/

In that manner is possible to write simple markdown files and let Flatdoc render documentation so we don't need to mess with complicated html when c

[2014-10-31 13:25] ukicar opened #8 "User server is activated even without "play""
If user server is not launched user web page shouldn't be visible

[2014-10-31 13:26] ukicar opened #9 "Examples invisibles after sw update"
After SW update via updater examples are not visible. We have to reset server to see examples again

[2014-11-09 09:34] #7 closed, assigned to nobody

[2014-11-09 10:05] ukicar opened #15 "If non utf8 symbols in code, file will not be saved"
If any of non utf8 symbols gets inside code that file will never be saved. That's causing websockets that refuse to transmit non utf8 symbols. The problem is that there is no warning message or any information on this subject that is really hard to debug or understand by people.

Possible solution is just to analyse code and alert user is there is some strange symbols in code.
Other solution is to

[2014-11-09 11:14] ukicar opened #16 "Adapt IDE interface to minimum resolution 1024x768"
When using video projectors during presentations and workshops low resolution renders bad interface. Problem is in dashboard that is not responsive

[2014-11-10 08:29] ukicar opened #17 "Strange behavior when using PWM"
There is some strange flickering when fading in and fading out LED. Cause is unknown for now. Here is test code
https://github.com/nodesign/weio/blob/af02ac4b1a35a29f37b93dde46c4d65237843d41/examples/pwmWrite_PY/main.py

[2014-11-10 08:52] ukicar opened #18 "LPC UART bridge port not working from linux userspace"
When Openwrt is booted there are multiple interfaces inside /dev
ttyACM0
ttyACM1
ttyATH0
ttyS0

ttyATH0+ttyS0 - the serial console (connected to FTDI chip) and ttyACM0+ttyACM1 (LPC command and bridge ports)

This is code for testing purposes that can be run directly from python console. One wire should be added from pin 0 to pin 1 on WeIO board. Right now this code is not working and Tx pin is not

[2014-11-11 08:55] ukicar opened #19 "Add support for JS, spi, uart, i2c"
Add support for programming digital interfaces directly from JS

[2014-11-11 13:02] drasko opened #20 "Updater - longer progress bar"
Updater progress bar finishes before board is reset and new WeIO IDE is initialized.

In this case, when user tries to reload page there is 404 - leads to confusion.

Fix: progress bar should last longer.

[2014-11-11 13:04] drasko opened #21 "Updater - user confing is lost / chnaged"
After update User name (right corner of IDE) is replaced by "Uki car". This new config overwrites user configuration on every update.

Fix: check if config.weio is being replaced and find the way to keep user configuration.

[2014-11-11 13:43] #15 closed, assigned to nobody

[2014-11-11 15:43] manuio opened #23 "Preview not working"
Preview not working after last update

[2014-11-11 15:56] #16 closed, assigned to nobody

[2014-11-11 16:50] manuio opened #24 "IDE - ctrl-z behaves as a global function for all files."
When ctrl-z is used the last modification is pasted on current file even if the modification was made in other file.

[2014-11-12 11:22] #20 closed, assigned to ukicar

[2014-11-12 12:01] #21 closed, assigned to ukicar

[2014-11-12 12:05] #9 closed, assigned to nobody

[2014-11-12 15:18] ukicar opened #28 "Flatdoc pushes editor up when clicked"
Click on any function inside flatDoc documentation pushes editor application up, off the screen

[2014-11-14 11:16] ukicar opened #32 "pinMode doesn't work"
PinMode function don't work. Origin of the problem is not known. Pullup and pulldown resistors are never set. I tried this example with straight IoTPy library and it worked. The problem is at our side, maybe somewhere in weioGpio.py??

[2014-11-14 14:37] ks156 opened #33 "Better organization of 'things'"
Before the first big release, I suggest to reorganize the 'things' directory by adding subdirs for sensors, motors, etc.
In the future, the number of 'things' should increase, and the 'things' directory will be full of various drivers, unclassified. Creating subdirs later will break compatibility with all code already made.

[2014-11-14 21:06] #17 closed, assigned to drasko

[2014-11-14 21:06] #18 closed, assigned to nobody

[2014-11-17 21:42] #23 closed, assigned to nobody

[2014-11-17 22:03] manuio opened #35 "IDE - Long project names hide stop button"
If project name is too long the stop button is not visible

[2014-11-17 22:46] ukicar opened #37 "Not the same Mac address on the sticker and in the hardware"
For example on the sticker is written MAC : C49300011215
Inside /etc/config/wireless is written : option macaddr 'C4:93:00:01:12:16'

Last number is always different but I think that it's predictable. It seems that last number is always +1

[2014-11-18 07:16] ukicar opened #38 "Uploading other type of files than scripts is broken"
In editor choosing to import some image.png is never saved on the flash. This function worked, something is broken now.

[2014-11-19 08:18] manuIO opened #42 "User server can't start without main.py"
Even if main.py is empty user server can't start, the log is: "main.py don't exist!"
It could be more helpful and understandable for beginners if is not necessary to create an empty main.py file in the project.

[2014-11-19 08:57] manuIO opened #43 "IDE - Hight problem on preview display"
Hight is not totaly visible on preview display.
Test example digitalWriteColorsLed_JS.

[2014-11-19 22:21] #38 closed, assigned to nobody

[2014-11-25 08:30] #32 closed, assigned to nobody

[2014-11-25 09:35] #33 closed, assigned to nobody

[2014-11-25 19:31] #37 closed, assigned to nobody

[2014-11-25 19:46] ukicar opened #50 "Fast click from "stop" to "play" will break"
If clicked from "stop" to "play" rapidely program will break. This occurs really often. That's because WeIO don't have enough time to reset LPC co-processor. When stop is clicked, reset pin on LPC is activated and LPC goes to coma. OS needs little bit less than two seconds to enumerate again co-processor and open protocol. The question is how to solve this issue?

the simplest thing but not the mo

[2014-11-26 08:07] #1 closed, assigned to nobody

[2014-11-26 08:08] #2 closed, assigned to nobody

[2014-11-26 08:10] #6 closed, assigned to nobody

[2014-11-26 08:25] #28 closed, assigned to nobody

[2014-11-26 19:30] manuio opened #52 "Interrupt example don't work"
https://github.com/nodesign/weio/blob/next/examples/interrupt/main.py

[2014-11-26 19:40] ukicar opened #53 "Give some Internet service examples like twitter, fb or other"
It will be really nice to have some Twitter or FB examples in our menu. Something really simple like turn the LED ON when someone twitt my name or similar. These examples will show that we are internet services ready. If it comes to install some Python libraries to have some specific support just let me know, so we can discuss embedding them directly in fw.

[2014-11-28 16:44] manuIO opened #55 "IDE - Long lines on console"
Console don't have automatically new line return, all entries are diplayed in one line.
To test it print long entry.

[2014-12-02 20:49] #35 closed, assigned to nobody

[2014-12-02 21:36] manuIO opened #60 "Not allowed to write using samba"
Today I have flash weio_recovery.bin to start with a new card. I have done the first login using "weio" as login and "weio" as password. Then after update I tried to write using samba but no way to do it, I can only read. Somebody know why?

[2014-12-03 01:57] manuIO opened #61 "IDE - Project in flash directory don't start"
- Create new project in "flash" directory
- Start project
-> MODULE CAN'T BE LOADED. Maybe you have some errors in modules that you wish to import?
    ...

Maybe missing  __ init __.py?
Also, inside of flash directory there is an empty "flash" project wihout files.

[2014-12-04 09:36] manuIO opened #63 "bgColorLEDWeb example don't work"
bgColorLEDWeb example don't work for me, I've errors with setColor function: https://github.com/nodesign/weio/blob/next/examples/bgColorLEDWEB/main.py#L33

[2014-12-05 23:20] drasko opened #64 "Can not go out of user settings"
Clicking on X in the upper right corner does not seem to work anymore. Broken?

[2014-12-06 22:24] #52 closed, assigned to nobody

[2014-12-07 11:02] ukicar opened #66 "Make examples inside IDE readonly"
User can't edit official examples. They has to be read only and they can only be duplicated to flash, sd or usb flash if user wants to use them as start point

[2014-12-07 11:06] ukicar opened #67 "Need to implement heartbeat between client IDE and server"
User must be informed in case of wifi drop or any other kind of interruption with server that is not naturally detected by websockets. Without heartbeat, code is not saved and user is not informed that everything that he writes will be lost

[2014-12-07 11:08] ukicar opened #68 "Settings close button X is broken"
Button don't work anymore

[2014-12-07 18:15] #64 closed, assigned to nobody

[2014-12-07 18:16] #68 closed, assigned to nobody

[2014-12-07 21:02] #8 closed, assigned to drasko

[2014-12-12 13:32] manuIO opened #74 "IDE - Only digital examples have scroll menu"
In new examples structure only digital examples have scroll menu,
Also some examples can't be opened because of heigth (for example sensors).

[2014-12-17 13:57] manuIO opened #77 "IDE- Missing digital and analog examples"
Some examples are missing in digital (pwmWrite, digitalWriteColorsLed, etc...) and analog (analogRead_JS and analogRead_PY)

[2015-01-03 17:58] manuIO commented on #74
In fact is because there are more than 10 examples in digital (I can see that when I zoom out but not with normal display). The bug is because of height of examples dropdown-menu when is unrolled.

To test change the browser zoom.

[2015-01-03 17:59] manuIO commented on #77
Duplicated issue.
The bug is because of height of examples dropdown-menu when is unrolled.

[2015-01-04 19:34] manuIO commented on #74
![screen shot 2015-01-04 at 20 24 50](https://cloud.githubusercontent.com/assets/9677805/5607200/23d0be5e-9451-11e4-94ca-994c2b120a19.png)

[2015-01-04 19:38] manuIO commented on #74
Fixed in this commit https://github.com/manuIO/weio/commit/e7c5da5370df481f7969cce6cb11e92f14562c75

![screen shot 2015-01-04 at 20 35 19](https://cloud.githubusercontent.com/assets/9677805/5607206/69fcb1d0-9451-11e4-86d0-3acfd8b5ce75.png)

[2015-01-19 16:18] nmarcetic opened #93 "Fix documentation section"
-- Documentation require section scroll (left section when content grow).
-- Python/JS documentation tabs, click on section not working.

[2015-01-19 16:21] nmarcetic opened #94 "Project files tree enable files reopening"
If the file is already opened, click on that file in project files tree will not reopen file.
TODO: Implement this feature.

[2015-01-19 16:24] nmarcetic opened #95 "Responsive Dasboard"
-- On lower resolutions play/stop buttons are not visible, header dashboard layout is broken.

[2015-01-19 18:03] nmarcetic commented on #93
Its fixed. Please confirm when you merge pull request, so i can close this issue.

[2015-01-19 19:10] drasko commented on #93
Checked, works OK!

I like the sliding effect, really well done!

[2015-01-19 19:10] #93 closed

[2015-01-22 20:11] ukicar opened #98 "Date and time are not correct"
We are using NTPD to sync with atomic clocks over Internet. Once WeIO is connected to the Internet it has to show correct time. There is some problem with NTPD configuration, maybe distant servers are never reachable?

[2015-01-25 16:32] drasko opened #99 "Can not create directories with Samba"
I tried creating a dir somewhere in WeIO via Samba, and this is not possible.

This might be useful for the users to group their files.

Samba server permissions need to be checked.

[2015-01-25 20:08] manuIO commented on #99
It's because "others" don't have permissions. I changed directory mask by 707 (https://github.com/manuIO/weio/commit/300b060b20bebb5e721437ee9fc7be16153147b6).
I also tried 706 mask but It doesn't work...

[2015-01-25 23:22] drasko commented on #99
This was not well done, and I had to correct it - see my commits: https://github.com/nodesign/weio/commit/e15d9dae753e723d8b0494ce4bd86fc54a449936 and https://github.com/nodesign/weio/commit/a1e9c01827076835b7d4cf327c287b6216b1576e.

Thing is that **only** /etc/config/samba should be changed, without touching /etc/samba/smb.conf, which is just a symlink to /var/etc/smb.conf, which itself is auto-g

[2015-01-25 23:22] #99 closed

[2015-01-26 17:27] manuIO opened #101 "first connection to IDE after flash weio_recovery returns error message"
![screen shot 2015-01-26 at 17 49 22](https://cloud.githubusercontent.com/assets/9677805/5904441/b3928c5a-a588-11e4-9e04-aa22c1cf21fe.png)

After a soft reset connection to IDE works normally

[2015-01-26 22:44] drasko opened #104 "Duplicating project from SD to flash does not work"
It creates new project on SD instead

[2015-01-26 22:45] drasko opened #105 "Create New Project Overwrites Existing"
There is no warning to the user that project already exists!

[2015-01-27 00:29] manuIO opened #106 "missing dropdown-submenu in interfaces examples"
i2c,spi and serial are folders not projects.

![screen shot 2015-01-27 at 01 19 36](https://cloud.githubusercontent.com/assets/9677805/5911216/fa64cb22-a5c2-11e4-9258-2519234d3242.png)

[2015-01-27 08:33] ks156 commented on #50
First issue (PLAY / STOP / PLAY) is fixed, but indeed, double click on the play button cause weird behavior (LPC coprocesseur is not present or tornado crash).

[2015-01-27 08:35] ukicar commented on #105
I just corrected issue and push to Next. User is alerted to choose another name for project.

[2015-01-27 08:35] #105 closed

[2015-01-27 08:36] #66 closed

[2015-01-27 08:53] drasko commented on #50
Uros or Nikola, please disable in the front-end JS PLAY and STOP buttons once they have been clicked for a certain delay - every clikc manipulates with LPC behind and this takes time!

[2015-01-27 11:49] nmarcetic commented on #50
I send you pull request, please test it if you can. I am busy at the moment, no time for testing sorry, but it should work :) .

[2015-01-27 12:38] manuIO commented on #61
Now it works for me, issue can be closed?

[2015-01-27 13:00] manuIO commented on #77
Issue can be closed?

[2015-01-27 13:15] manuIO commented on #74
Issue can be closed?

[2015-01-27 13:18] ukicar commented on #77
Yes!

[2015-01-27 13:18] #77 closed

[2015-01-27 13:21] ukicar commented on #106
Spi, serial & i2c moved for -1 level in tree. No more bug

[2015-01-27 13:21] #106 closed

[2015-01-27 13:22] ukicar commented on #67
This was corrected by nikola. Tested OK

[2015-01-27 13:22] #67 closed

[2015-01-27 13:26] drasko commented on #74
@nmarcetic confirmed it can. Closing.

[2015-01-27 13:26] #74 closed

[2015-01-27 13:27] nmarcetic commented on #98
I will fix this tonight.

[2015-01-27 13:33] drasko commented on #98
@nmarcetic please use new binary, I added missing `ntpdate`. Tell us if everything is OK, point is that you do not have to use opkg install and that we have ntp functional by default.

[2015-01-27 13:36] nmarcetic commented on #98
Ok

[2015-01-27 14:03] ks156 commented on #63
If someone can (briefly) explain how to call a java fonction from python, I'll fix this example quickly.

[2015-01-27 14:12] drasko commented on #63
Whoops... Not possible I think. This feature is missing now - we broke a lot of stuff.

I will take a look tonight at two things:

1) Shared variables between processes (https://docs.python.org/2/library/multiprocessing.html#sharing-state-between-processes), I think dict and Manager can do the job

2) Py -> JS (not difficult, but demands some work)

[2015-01-27 14:31] ks156 commented on #63
Ok, so for the first release, it's maybe better to remove this example ?
Same for webCamSinglePhotoWEB I guess. (https://github.com/nodesign/weio/blob/next/examples/webService/webCamSinglePhotoWEB/main.py#L29-L30)

[2015-01-27 15:17] manuIO commented on #63
I think so!

[2015-01-27 15:29] drasko commented on #101
Yes, this is really a bug. I have no idea for now where it comes from.

Easiest solution is to add a reboot on first re-flash. Might be that jffs formating of mtd parts confusing server... Maybe we have to force just restart of WeIO app on first re-flash...

[2015-01-27 16:45] manuIO opened #109 "Strange behavior after flash weio_recovery and setting other name than weio"
After flash weio_recovery.bin and set other board name than weio an infinite loop asking for reload page appears.

To reproduce:
- flash weio_recovery.bin
- Do soft restart (after 505 internal server error)
- go to weio.local and set other board name than weio during sigin
- Then IDE is blocked loading and a message "I've lost connection" appears
- When you reload page the address is not founded

[2015-01-27 17:27] manuIO opened #110 ""create new project" item desappear in flash and sd directories"
When new project is created in flash or sd directories the item "create new project" disappears.

![screen shot 2015-01-27 at 18 14 15](https://cloud.githubusercontent.com/assets/9677805/5923072/eed92d96-a650-11e4-9575-91c208ab295d.png)
![screen shot 2015-01-27 at 18 14 45](https://cloud.githubusercontent.com/assets/9677805/5923076/f37d76d6-a650-11e4-9c98-60dd2195de30.png)

[2015-01-27 17:32] nmarcetic commented on #110
This is a normal behavior. Create new project link is only present if don't have any projects on selected storage (to avoid empty menu and help you to create project faster).

Maybe we can change this, and always show "Create new project link" , but it is not planned to be so.

[2015-01-27 17:38] manuIO commented on #110
Ok! I thought that you want to keep create "new project link" all the time.

[2015-01-27 17:39] ukicar commented on #110
this is normal behavior it's a feature not bug... closing

[2015-01-27 17:39] #110 closed

[2015-01-27 18:00] manuIO opened #111 "Create projects in SD repertory without SD card"
Is possible to create projects in SD repertory without SD card, no warning message.

[2015-01-27 18:24] drasko commented on #111
This is serious bug. Project is created directly on the flash under existing /weioUser/sd mountpoint. We must prevent this!

[2015-01-28 20:20] ks156 opened #117 "Board preview layout is broken"
![board_prev](https://cloud.githubusercontent.com/assets/55508/5946077/5bb91b82-a733-11e4-9753-0ca1208e7bf3.png)

*Safari Version 8.0.3 (10600.3.18)*

[2015-01-28 20:34] drasko commented on #117
@nmarcetic is working on this.

[2015-02-02 07:08] ks156 commented on #111
This issue should be fixed with the sd / usbFlash detection. https://github.com/nodesign/weio/pull/115

[2015-02-02 07:30] drasko commented on #111
Manu,
can you please retest this?

[2015-02-02 17:09] nmarcetic commented on #101
I also propose reboot, ssh is also down.

[2015-02-02 17:10] nmarcetic commented on #117
I think we can close this one ?

[2015-02-02 17:12] nmarcetic commented on #50
Please close this one.

[2015-02-02 17:16] #117 closed

[2015-02-02 17:16] #50 closed

[2015-02-02 18:34] drasko commented on #101
I would avoid reboot for the first version. We will investigate for the next major release (platform + app update). For minor releases it is only app update, so this bug will not be visible.

[2015-02-02 19:42] ks156 commented on #109
I can't reproduce the bug. Someone can confirm it ?

but … at the signin page, when another name is set for the board, when the *Finish setup* button is clicked, the page simply reloads, meaning that the url (by default : weio.local) stays. If the *Bonjour* name is changed, the page should redirect to the correct URL.

[2015-02-02 20:35] ks156 commented on #104
1. Select an existing project in the example list.
2. Duplicate it on the SD card
3. Duplicate the project from the SD card to flash —> It doesn't work, and the project is created on the SD card
4. Try again, but in the popup, select "SD" and then "Flash" (just deselect "flash" and reselect it) —> It works

Conclusion : *storageUnit* seems not be correctly initialized somewhere.

[2015-02-03 12:31] manuIO opened #127 "attachInterrupt doesn't work on JS"
When the function is called with all parameters IDE console shows this error:
TypeError: attachInterrupt() takes exactly 4 parameters (2 given)

Here why:
https://github.com/nodesign/weio/blob/next/weioLib/weioParser.py#L163
https://github.com/nodesign/weio/blob/next/www/libs/weio/weioApi.js#L369

I've tried to fix the bug but I can't test it :
https://github.com/manuIO/weio/commit/86dafd2ab88880d

[2015-02-03 13:21] ukicar commented on #127
why you can't test it? You need only one wire to do that. So you can contact it from 3.3V to some pin waiting pullup for example. I'll test it later

[2015-02-03 13:22] drasko commented on #127
I think he is not in Paris, does not have a board with him...

On Tue, Feb 3, 2015 at 2:21 PM, Uros Petrevski <notifications@github.com>
wrote:

[2015-02-03 13:37] ukicar commented on #127
ok I'll correct this issue

[2015-02-03 14:01] ks156 commented on #127
Interrupts can be tested without wire.
Just attach an interrupt to a pin change the pin state with digitalWrite. It should work.

[2015-02-04 14:26] drasko commented on #111
Manu,
can you please test anc CLO if it is OK. This has been fixed by commits od uSD daemon and USB hotplug.

Might be still some errors in the app, so test is needed.

[2015-02-04 14:28] #61 closed

[2015-02-04 14:29] drasko commented on #60
Fixed by correct /etc/config/samba conf

[2015-02-04 17:52] manuIO commented on #111
Bug fixed!

[2015-02-04 17:59] #111 closed

[2015-02-04 18:34] manuIO commented on #109
I can't reproduce any more after last update... maybe issue could be closed?

[2015-02-04 21:14] drasko opened #132 "`pip` not working"
[code]

[2015-02-04 21:48] nmarcetic commented on #132
I think its not a pip issue. Can you pls try to pass --allow-all-external.
pip install ctypes --allow-all-external
I dont have a board with me.

[2015-02-04 22:14] drasko commented on #132
pip is broken - both for Paul and me. Different tests.

On Wed, Feb 4, 2015 at 10:48 PM, Nikola <notifications@github.com> wrote:

[2015-02-04 22:18] nmarcetic commented on #132
ok i will take a look.

[2015-02-04 22:32] ks156 commented on #63
Can be closed ! https://github.com/nodesign/weio/commit/7920773e4283107f6529f62ba077ebc1b7c6f68e

[2015-02-05 00:38] manuIO commented on #63
good job!

[2015-02-05 00:38] #63 closed

[2015-02-05 00:44] manuIO opened #134 "IDE Examples can be deleted"
IDE Examples can be deleted while permissions are "read only"

[2015-02-05 00:47] manuIO opened #135 "usbFlash cannot be opened using samba"
usbFlash repository cannot be opened using samba.
Error message (OSX): The folder “usbFlash” can’t be opened because you don’t have permission to see its contents.

[2015-02-05 00:48] #109 closed

[2015-02-05 01:08] manuIO opened #136 "After "setup admin account" and run JS example UI display "setup admin account" page"
To reproduce:  flash weio_recovery.bin and complete the "setup admin account". Then when you are connected to IDE run any JS example and load UI page.

(After restart weio the UI works as expected)

[2015-02-27 17:47] Pinciukas1991 opened #142 "Cant connect to network in sta mode"
Title says everything. When i try to conenct to my home network it fails, sta LED indicator doesnt light up. But when  check wireless.sta file i see that all options are set correctly (ssid, encryption et.).

[2015-02-27 17:59] ks156 commented on #142
When you change the Wifi settings from the IDE, the LEDs starts to blink, and the board tries to connect to the specified STA network. This may takes time. If it fails to connect, it will automatically restart its AP mode.
How did you change the wireless setting ? From the IDE ?

[2015-02-27 18:02] Pinciukas1991 commented on #142
Everything happened as you said )) it started to blink, sta failed, and at the end jus AP led was on. Yes, from IDE.

[2015-02-27 18:56] ks156 commented on #142
That's strange. You may maybe try to restart the board and try again.
Can you also tell what's the security protocol of your access point (WEP / WPA / …) ?

[2015-02-27 19:18] Pinciukas1991 commented on #142
yea i found a problem . thanks a lot. But it rises another question, is it possible and if it is,  how to set ap and sta modes to be at the same tme, cause now is only ap or sta. And another is it possible to conneect into IDE when  just sta mode is on?

[2015-02-27 19:27] ks156 commented on #142
Ok, great. Can you briefly explain what the problem was. It may help other poeple.

You can't use the Wifi in AP and STA modes in the same time. When you're on STA mode, you can connect to the IDE with the URL http://*board_name_you_set*.local:8080. If you're on Windows, you have to install *Bonjour* : http://support.apple.com/kb/DL999. Otherwise, you can also connect to the board via its IP addre

[2015-02-27 19:44] Pinciukas1991 commented on #142
The problem was very silly and it was ofc my mistake. I mistyped network interface. Back to sta mode. I can from my computer ping board IP , but i cant ping board:8080 (same goes with board.name.local:8080) .  Because i want to update my board and i don't for this moment know how (apt-get , yum commans dornd found, opkg also seems to struggle ) :D

[2015-02-27 20:09] ks156 commented on #142
Ok. The best is to connect here : https://gitter.im/nodesign/weio
It would be easier to help you.
Btw, this issue can be closed I guess.

[2015-02-27 20:12] drasko commented on #142
@ks156 actually - you can have both AP and STA mode on WeIO :). But this is **not** supported buy our IDE now, as it is not normal usecase.

Take a look here:
http://lwn.net/Articles/321690/
https://wireless.wiki.kernel.org/en/users/documentation/iw/vif
http://www.candelatech.com/vsta.php

AR9331 has ath9k driver support, and this is one of the most elaborated (and open) Linux driver. That's why t

[2015-02-27 20:23] Pinciukas1991 commented on #142
Thanks guys for those quick answers , u r very helpful. I managed to connect and update now this board finally ..))
Drasko , thanks for explanations why we dont need both ap and sta at the same time.

[2015-02-27 21:43] drasko commented on #142
Closing the issue.

[2015-02-27 21:43] #142 closed

[2015-03-01 08:04] captainigloo commented on #132
Hi Drasko,
I would like install pyephem pip package, but don't work :

cmd : pip install pyephem

---------------------------------------------------------------------------------------
Downloading/unpacking pyephem

  Getting page https://pypi.python.org/simple/pyephem/
  URLs to search for versions for pyephem:
  * https://pypi.python.org/simple/pyephem/
  Analyzing links from page https://pypi.

[2015-03-01 08:28] captainigloo commented on #132
I tested with option "--allow-all-external" and it's same error.

[2015-03-01 10:15] ukicar commented on #132
hello,
The problem is not in pip but in the module that needs to be cross compiled.
Pyephem module is not pure Python, it's mixed with some code that was written in C so needs to be compiled. As WeIO is embedded linux platform with limited ressources we don't have compiler tools installed in it so the solution is to cross compile your module on the pc before installing it.
Let us try to cross comp

[2015-03-01 10:30] captainigloo commented on #132
Ok, I await your cross compilation. But how are you to automate the compilation OpenWRT in WEIO?

[2015-03-01 11:00] drasko commented on #132
OpenWrt cross-compiles it's packages using modified buildroot(
http://buildroot.uclibc.org/). WeIO has only 16MB flash to hold LInux,
rootfs with Python and user-space applications - is an embedded machine
(not a little PC like RPi).
Gcc is big piece of code, and practically impossible to put in so little
space. That's why OpenWrt doe not provide support for holding the complier
on PC.

The easies

[2015-03-01 11:10] captainigloo commented on #132
Ok I understand. I bought the WEIO for a solar tracking specific project and measures of insolation with this package pyephem. It is the basis of my development. I'll go back to a Raspberry PI. I'll find another project for WEIO.

[2015-03-01 12:00] drasko commented on #132
We have to take a look at pyephem - maybe it is not so difficult to port.

On Sun, Mar 1, 2015 at 12:10 PM, Sébastien Joly <notifications@github.com>
wrote:

[2015-03-01 23:15] drasko commented on #132
@captainigloo upon your special request ;) we have crafted a nice script to cross-compile Python packages more easily. Please find the doc here: https://github.com/nodesign/weioWiki/wiki/Cross-Compiling-Py

Now, this might be a little tedious because one must compile OpenWrt first to have cross-compiler.

That's why I propose that we create a repo where we can keep .egg files for WeIO that users r

[2015-03-03 05:36] manuIO commented on #42
I've tried that and it works for me:
https://github.com/nodesign/weio/pull/143

[2015-03-04 23:47] manuIO commented on #55
Fixed in this commit:
https://github.com/manuIO/weio/commit/9eb4475e47f6858255d64d80ccf4a7d9d6852bc7

After:
![screen shot 2015-03-05 at 00 27 02](https://cloud.githubusercontent.com/assets/9677805/6496055/8a392f30-c2cf-11e4-8e5e-20882212d9dc.png)
![screen shot 2015-03-05 at 00 26 45](https://cloud.githubusercontent.com/assets/9677805/6496059/949a5b16-c2cf-11e4-8027-c65b2f09b029.png)

Now:
![scree

[2015-03-05 00:29] manuIO opened #145 "examples using I2C bus error"
Examples using I2C bus doesn't work and return this error:

[code]
I've also noticed that after error message, when you run other examples, all seems good but nothing happens (no print on IDE console and no HW events). WeIO needs to be restarted otherwise this behavior is still there.

All examples returns this error except lm75sensorSMBus_PY, however all examples have the same strange behavior...

[2015-03-05 00:46] manuIO commented on #145
I've tested this examples without I2C HW, I suppose that the error is normal but not the strange behavior.

[2015-03-05 07:17] ks156 commented on #145
Without hardware, all of this is normal.
*i2c = initI2C()* display the following error : weioRunner.py: UPER API: I2C bus not connected.
and *i2c.scan()* raise the exception.

Normally, if *initI2C* fails, *i2c.scan* shouldn't be called. So all of that is normal.

*lm75senslrSMBus_PY* opens the I2CBus via SMBus, while all other examples open the I2C bus via the api function *initI2C()*. That's why

[2015-03-05 07:24] ks156 commented on #101
I built a new binary image yesterday, and I've noticed that all is working fine at first boot. No Internal Server Error, ssh OK after setting the user account and password, and so on.
I'll test again with the official release to see if the error is still here.

Could it be due to the binary size ? Mine is a bit bigger than the official release.

I can share my binary file if someone want to try.

[2015-03-05 07:55] manuIO commented on #101
I've tested yesterday and I had the same error.

[2015-03-05 08:08] manuIO commented on #145
Ok for the error, I assumed that is normal but try to run one of this examples without HW (It can happen if you are "exploring" examples) and then try to run other examples).
For me the result is that nothing happens but no new error messages appears.

[2015-03-05 08:29] drasko commented on #101
This might be due to the way scripts are init in rcS. Last one is weio_run
(START=99,
https://github.com/nodesign/weio/blob/master/openWrt/files/etc/init.d/weio_run#L4),
but I am not so sure that network is ready at this point.

Also, WeIO is actualy always started by this script:
https://github.com/nodesign/weio/blob/master/scripts/run_weio.sh. I.e.
initd service starts this script, and this scri

[2015-03-05 10:20] ks156 commented on #145
You mean that the other examples are not working anymore ? You need to *soft reset* the board, right ?

[2015-03-05 13:55] manuIO commented on #145
Yes right!

[2015-03-05 20:51] nmarcetic commented on #98
Please try to set timezone in IDE settings page. Its should be ok now.

[2015-03-05 21:07] manuIO commented on #43
fixed here:
https://github.com/manuIO/weio/commit/339875062ed6c0d3d9c40722e0133a0fab4aa007

[2015-03-07 15:11] benoit-pereira-da-silva opened #147 "Post setup Login fails on Safari."
And works with Chrome & Firefox. Mac os X Safari 8.0.3 (10600.3.18) on Yosemite10.10.2 (14C109).
The we-io board is accessible from nine.local:8080 and the IDE works if configuring login_required to NO.

Config : {
"absolut_root_path": "/weio",
"debug_mode": "False",
"dependencies_path": "www",
"dns_name": "ninio.local",
"editor_html_path": "www/dashboard.html",
"extern_projects_path_flash": "/wei

[2015-03-07 15:13] drasko commented on #147
Thanks for bug report.

@manuIO, @ukicar, @ks156 one of you must look at this - I have no Apple devices.

Apparently it is systematic and reproducible!

[2015-03-07 20:44] ks156 commented on #147
I can't reproduce this bug with Safari Version 8.0.3 (10600.3.18) and OSX 10.10.2 (14C109) and the config specified above.

When it fails, what's the complete URL ? *http://ninio.local:8080/login?error=Login+incorrect* ?

[2015-03-07 20:50] ks156 commented on #145
It will be fixed soon with this commit : https://github.com/ks156/weio/commit/464d66b07b7e6b322078a763903b7f7ad2cb2b6c

I still need to test it before submitting a pull request.

[2015-03-07 20:50] ks156 commented on #136
Confirmed

[2015-03-08 09:30] benoit-pereira-da-silva commented on #147
I m not sure to understand your question. I do use :  http://ninio.local:8080/login
On Safari "Access WeIO IDE" > LOGIN do nothing. (On Chrome : i can access to the IDE.)

[2015-03-08 10:57] benoit-pereira-da-silva commented on #147
I ve installed a proxy and analysed 10.0.0.1/login.
I think i've got the solution. We are Sunday March the 8th and the cookie is set to expire Yesterday.

![weio-proxy-analysis-2015-03-08-11 53 33](https://cloud.githubusercontent.com/assets/963307/6545491/25cd3bbe-c58a-11e4-9cfc-0b816586781c.jpg)

[2015-03-08 15:58] nmarcetic commented on #147
@benoit-pereira-da-silva

I think on Tornado server default cookie expiration period is 30 days. The possible scenario, when you receive your board the system time was not correct, and now Tornado generate cookies and set expiration period in pass (e.g 07. Mar). This is only logical explanation, still i am very confused about chrome and firefox... It works on those browsers....
In order to confirm

[2015-03-08 17:40] benoit-pereira-da-silva commented on #147
It was not a question of Time Zone, the WEIO date was not correct.
The real question is WHY ? I'd done nothing special.

[code]

[2015-03-08 17:55] nmarcetic commented on #147
The timezone is inccorect :) Just try flow as i propose to set correct timezone and your date/time will be fixed.

[2015-03-08 18:01] benoit-pereira-da-silva commented on #147
The question is not to "fix my problem". I've been fixing it by using, chrome and with various strategies, like disabling auth in the configuration,...  The question is : why a new board during its first install process via SAFARI can have Date issues ?

[2015-03-08 18:10] nmarcetic commented on #147
If your date is now correct can you please try to enable login and try if will work with safari in order to confirm our date,time theory. I am o my phone now, cant type, i will explain timezone-date relation ASAP.

[2015-03-08 18:13] benoit-pereira-da-silva commented on #147
Sorry for the confusion,  i should have mentioned that  root@WEIO:~# date -s "2015-03-08 18:36:00" did the stuff. & I m able to login from Safari right now.

[2015-03-08 18:26] nmarcetic commented on #147
Ok great, and tnx :)

[2015-03-09 11:27] drasko commented on #43
Closing. Thanks @manuIO!

[2015-03-09 11:27] #43 closed

[2015-03-09 13:11] manuIO commented on #43
:+1:

[2015-03-09 13:21] manuIO commented on #145
:+1:

[2015-03-20 02:01] manuIO opened #150 "samba permission of usbFlash and SD card bug after reboot"
To reproduce:
- Connect usbFlash / SD card, enable samba connection and see its content.
- Reboot the board (disconnect and connect alim).
- Enable new samba connection and try to open usbFlash / SD card directory.

The result is the message: "The folder "usbFlash“ / "sd” can’t be opened because you don’t have permission to see its contents".

 I've noticed that removing generated __init__.py solv

[2015-03-20 02:48] manuIO commented on #135
This bug seems fixed for me but I've noticed new bug with SD card and samba: https://github.com/nodesign/weio/issues/150

[2015-03-20 11:24] ukicar opened #151 "Empty field when duplicating projects causes error"
When duplicating project if only empty field is given WeIO calls root directory and this is bad. We need to isolate this case

[2015-03-20 11:30] nmarcetic commented on #151
Can you pls describe "only empty field is given", empty filed for project name ?

[2015-03-20 11:33] ukicar commented on #151
If you forget to give a name of project. No name provokes error

[2015-03-20 11:33] nmarcetic commented on #151
Ok, all clear. I can do some validation, is that acceptable ?

[2015-03-20 11:34] nmarcetic commented on #151
I mean on both side python and js validation.

[2015-03-20 11:35] ukicar commented on #151
In the case of creating new project it's just rejected but no error message is shown. We can at least say with alert that field is empty

[2015-03-20 11:36] nmarcetic commented on #151
Ok agree. I will make those changes.

[2015-03-20 11:50] ukicar opened #152 "Maximize file when clicked on it's name in the tree"
When one code is opened but minimized click on it's name in the tree has to maximize it. This is serious user experience problem!

[2015-03-20 11:52] ukicar opened #153 "Add ctrl-s for those who are used to"
People are used to make ctrl-S or cmd-S (on MAC) to save document. This is automatic in WeIO but let's make it just like Google Docs. It's automatic but on ctrl-s it will save file in the moment. People are used too do it in that way and it reassure them. Often they are disturbed when save web file dialog occurs when ctrl-s is pressed.I saw few times guys pressing ctrl-S, even I'm doing it…

[2015-03-20 11:53] ukicar opened #154 "Adapt dashboard css for 1280 x 800 resolution"
On resolution 1280 x 800 that is pretty common on 13" screens, stop button is inexistant and interface is not well adapted for it. Specially think to put play and stop in the first plane!!

[2015-03-20 11:54] ukicar opened #155 "Add return button interaction in modal views"
When duplicating or creating projects "return" key is not confirming action. We have to click with mouse

[2015-03-20 12:54] manuIO commented on #55
can be closed?

[2015-03-20 13:04] ukicar commented on #55
thanks!!

[2015-03-20 13:04] #55 closed

[2015-03-20 13:04] ukicar commented on #55
thanks

[2015-03-21 16:17] nmarcetic commented on #151
It's should be ok now, pull request sent.

[2015-03-21 16:21] nmarcetic commented on #134
True , tnx @manuIO. Do you think we should disable this , or to leave a option to delete examples ?
Maybe you will need free space and you don't want all examples any more.
You can't edit those files , but maybe it's ok to leave the option to delete ?

[2015-03-21 16:39] drasko commented on #134
Nope. Fix examples RO. If you want to free the space, you log onto the boards and you `rm -rf /weio/examples/*`

[2015-03-21 18:41] manuIO commented on #134
@nmarcetic you're welcome!
I'm agree with Drasko.

[2015-03-29 10:30] ukicar opened #157 "DetachInterrupt don't detach correctly"
Event when detachInterrupt is called it will not detach completely it's activity. At each new stimuli it will raise the exception :
weioRunner.py: UPER API: Interrupt callback error (None)

[2015-03-30 12:16] #151 closed

[2015-03-31 18:57] manuIO commented on #60
can be closed!

[2015-03-31 19:02] manuIO commented on #135
can be closed

[2015-03-31 19:14] ukicar commented on #135
ok thanks

[2015-03-31 19:14] #135 closed

[2015-04-01 17:49] ks156 commented on #145
Fixed ? Can be closed ?

[2015-04-01 18:04] ukicar commented on #145
yes :)

[2015-04-01 18:04] #145 closed

[2015-04-01 18:16] #157 closed

[2015-04-02 05:30] ks156 commented on #157
Merged upstream : https://github.com/8devices/IoTPy/commit/cc9b3e3059e8a4d9986cddfcde08461b4221f132

[2015-04-02 05:52] ks156 commented on #3
Yep, can be closed imho

[2015-04-02 08:14] #3 closed

[2015-04-02 08:59] #98 closed

[2015-04-02 22:10] manuIO opened #161 "IDE editor set viewport units vmin and vmax as errors"
![screen shot 2015-04-02 at 16 20 42](https://cloud.githubusercontent.com/assets/9677805/6974771/cb07e68c-d995-11e4-8088-f5be77bd9b9d.png)

[2015-04-07 08:01] ukicar commented on #161
This is something that comes from Ace editor. We are using Ace editor as is we don't have much control over it. We have just to update it from time to time.

[2015-04-07 08:04] ukicar opened #162 "pulseIn documentation is needed"
PulseIn documentation has never been written. We need for both Python and JS

[2015-04-15 16:36] #154 closed

[2015-04-16 18:48] #153 closed

[2015-04-16 20:36] drasko opened #168 "weioRunner.py prints traces on program STOP (UPER reset)"
WeIO user server launched 2015-04-16 21:55:47
WeIO user program stoped. It was runnig since : 2015-04-16 21:55:47
weioRunner.py: UPER API: Unrecoverable serial port writing error, dying.
weioRunner.py: UPER API: Unrecoverable serial port writing error, dying.
weioRunner.py: UPER API: Unrecoverable serial port writing error, dying.

[2015-04-16 21:11] drasko opened #169 "Message stays "Warming up the engines..." upon start"
Upon start thi is written in the header:
weio.local on 192.168.0.25
Warming up the engines...

This sentence should be corrected, and we have an impression that something should happen (this is an old message from the time when userTornad start was slow).

[2015-04-17 05:49] ks156 commented on #168
Drasko, this problem occurs with all examples ?

[2015-04-17 06:01] ks156 commented on #168
This message is generated here : https://github.com/nodesign/weio/blob/master/IoTPy/pyuper/ioboard.py#L212
It's here that the data is sent to the LPC. What I suspect is:
- When you click on "STOP", the reset command is sent (https://github.com/nodesign/weio/blob/master/IoTPy/pyuper/ioboard.py#L259-L263)
- This command reset the LPC, so /dev/ttyACM0 will not be available anymore
- Some commands (fr

[2015-04-17 06:29] drasko commented on #168
More or less all I tried last night... I do not remember.

Take care that there not only the user processes sending data to UPER, but user Tornado also, through user agent for JS frontend.
 Point I s that user Tornado starts/stops execution threads, but itself acts as the server for HTML GUI and intercepts and executes JS genericMessage(). Even if you stop all the user processes, if you keep brows

[2015-04-17 10:36] ukicar commented on #169
Yes good point! Corrected in this commit : https://github.com/nodesign/weio/commit/dc09ac2d0abf2795c72ae7ceef23ced418a25cc0

[2015-04-17 10:40] drasko commented on #169
I am not sure that this commit resolves the issue. I did not even see "WeIO is ready!". All I saw is "Warming up the engines.." and it is stucked there.

I will reopen the issue, but if you tested and it is OK for you, then please close it.

[2015-04-17 11:50] ks156 commented on #60
Fixed by this PR : https://github.com/nodesign/weio/pull/164

[2015-04-17 11:50] #60 closed

[2015-04-17 11:50] ks156 commented on #150
Fixed with this PR : https://github.com/nodesign/weio/pull/164

[2015-04-17 11:50] #150 closed

[2015-04-17 11:52] ks156 commented on #127
Fixed with this commit 6c310db6e5b4d713d9e8666e7610d43f5b8a6886, no ?
Can be closed ?

[2015-04-17 11:56] ks156 commented on #147
I'm not sure, even with the current *next* version and the correct TZ that ntpd works correctly.
Someone can test and confirm it works ?
Btw @nmarcetic, at first boot, in AP mode, ntpd can't work. So the *date* is probably not correct, and then you cannot access the IDE to setup a STA wifi network, and then ntpd can't work.
Or maybe I've missed something....

[2015-04-17 11:58] ks156 commented on #95
Fixed by this PR ? https://github.com/nodesign/weio/pull/166

[2015-04-17 11:59] nmarcetic commented on #95
Yes

[2015-04-17 12:02] ks156 commented on #147
Probably linked to this one : #98

[2015-04-17 12:04] nmarcetic commented on #147
It should work, i test and it's works for me.
You are right , someone else should also test, this is very important!
@ks156 on first run you can now set "Login not required" , and yes your are probably right about AP mode, i can't confirm 100% ...

[2015-04-17 12:07] nmarcetic commented on #147
@ks156 i will test this about AP mode today. Its very annoying for me...

[2015-04-17 12:23] ukicar commented on #169
it resolves it's my error. I turned first warming up.. to "weio ready" and I committed by error then I changed to "weio running". I tested it's OK

[2015-04-17 12:23] #169 closed

[2015-04-17 13:41] ukicar opened #172 "Bug in parameter Switch automatically to AP if STA network is not found or broken"
Checkbox has never been cabled behind for this functionality. This is the place where variable comes from IDE : https://github.com/nodesign/weio/blob/master/handlers/userSettingsHandler.py#L121

But in config.weio there is nothing called auto_to_ap
To resolve this issue we have to
- add "auto_to_ap" option in config.weio and set it to YES
- edit this block of code to insert auto_to_ap detection an

[2015-04-17 13:51] #95 closed

[2015-04-17 19:10] manuIO commented on #127
yes!

[2015-04-17 19:27] ks156 commented on #42
I confirm the fix with PR #143

[2015-04-17 20:34] ks156 commented on #147
@ukicar : Ok to close this one ?

[2015-04-17 21:49] ks156 commented on #42
I reopen it, because I don't understand something.
It indeed works without main.py. But once the project is started, main.py is created and a message is displayed in the console.
https://github.com/nodesign/weio/blob/master/weioPlayer.py#L144-L148

If it's the normal and expected behavior, please close it again.

[2015-04-17 22:12] ks156 commented on #168
If ok, can be closed

[2015-04-17 22:14] ukicar commented on #147
OK for me, tested

[2015-04-17 22:14] #147 closed

[2015-04-17 22:15] #127 closed

[2015-04-17 22:18] #168 closed

[2015-04-18 06:55] ukicar opened #178 "arecord creates a lot of useless files"
When trying to record sound arecord produces a huge amount of useless files, only the first one in the chain has sound. Other thing is that program don't exit when duration of recording is expired. I'm afraid that our arecord has some kind of bug... tested the same program under Rpi where it works well
here is test instruction
cd /tmp
arecord -f cd -d 5 tt.wav

instruction means : record in cd qua

[2015-04-18 09:00] ks156 commented on #104
Please confirm the fix and close if OK.

[2015-04-18 10:44] manuIO commented on #42
It's strange because I've removed this lines in my commit: https://github.com/manuIO/weio/commit/aa27fabf7fd29f1bfe947c27492197a987eaf39f#diff-5a781d5384ef176158ead116691b39e9L148

[2015-04-18 10:50] manuIO commented on #42
It seems like @drasko have only merged last commit of pull request (there is 3 commits in PR https://github.com/nodesign/weio/pull/143)

[2015-04-18 12:08] manuIO commented on #42
I've done modifications manually
Here is new PR: https://github.com/manuIO/weio/commit/c313a2b8f0396506880d7058c099167e8119a534
And here last @ukicar commit that I've accidentally removed: https://github.com/nodesign/weio/pull/182

[2015-04-18 12:25] nmarcetic commented on #161
Can we close this ? Since, we can't do nothing here, as @ukicar  mention we do not have much control.

[2015-04-18 12:28] manuIO commented on #161
If Ace can't be updated or is already updated yes!

[2015-04-18 12:29] nmarcetic commented on #161
Ok, i will check now if we up to date with the version.

[2015-04-18 17:29] nmarcetic commented on #152
Should be supported now.

[2015-04-18 17:31] nmarcetic commented on #161
@manuIO I upgrade Ace to latest version, unfortunately same behavior for set viewport units vmin and vmax as errors.

[2015-04-18 17:54] nmarcetic commented on #134
Should be fixed now!

[2015-04-18 17:59] #104 closed

[2015-04-18 18:05] ks156 commented on #42
Ok, I'll test it tonight

[2015-04-18 18:09] ks156 commented on #161
Set to *wontfix* since we don't really have the hand on Ace.

[2015-04-18 18:12] ks156 commented on #101
This problem seems related to jffs2, and don't occurs with all binaries.

[2015-04-18 18:17] ks156 commented on #178
What are the other files created ? Also .wav files ?

[2015-04-18 18:43] ukicar commented on #178
yes exactly a lot of wav files that can't be read. Wave files 44bits in size not usable except the first one... I haven't see this behavior when tested on raspberry pi for example...
I couldn't find similar case on google

[2015-04-18 19:06] ks156 commented on #178
Is the behavior identical when the file is stored on flash, sd and usbFlash ?

[2015-04-18 19:26] ks156 commented on #134
I confirm the fix.

[2015-04-18 19:27] ukicar commented on #178
same thing!
other files are named with numbers name-xxx.wav

[2015-04-18 19:27] ks156 commented on #94
https://github.com/nmarcetic/weio/commit/f33abdf00d535e2c9099d698a6b9b7695b72749a

I confirm the fix

[2015-04-18 19:30] ks156 commented on #94
Duplicated with #152

[2015-04-18 19:44] ks156 opened #185 "Ace v1.1.9 displays errors on python code"
With the new version of ACE, when a new project is created and main.py is shown, there's two errors pointed by the editors. One for the import, another for setup function.
If the file is closed and then re-opened, the errors disappear.

![image](https://cloud.githubusercontent.com/assets/55508/7216969/e9eaa208-e613-11e4-96df-3eddf5058793.png)

[2015-04-18 19:47] ks156 commented on #42
Excepted the debug message (*WARNING: Using WeIO default main.py (www/defaultMain/main.py)*), it's OK for me.
This message is useless imho

[2015-04-18 19:51] ks156 opened #186 "Autosave message override the "WeIO is running" message"
When a file is open in the IDE and the project is started, the autosave feature override the message "WeIO is running'" on the top bar.

![image](https://cloud.githubusercontent.com/assets/55508/7217006/06e00f8c-e615-11e4-84d0-2aabe0ddea7c.png)

[2015-04-19 09:58] ukicar opened #188 "Deleting files broken!"
Since last updates we can't delete files inside interface. We can't delete files nor projects. Something is broken

[2015-04-19 10:00] ukicar commented on #186
This is not a bug. You can still edit files while something is running. It's crucial to inform user that some file is saved. Maybe we can add some delay in "index.html saved" message so it can be gone after 5 seconds.

[2015-04-19 10:34] ks156 opened #189 "DHT22 / AM2302 are not working with the code made for DHT11"
This is probably located on the firmware side.

[2015-04-19 10:42] ks156 commented on #188
Uros, related to #134 ?

[2015-04-19 10:44] ks156 commented on #186
Ok. If this behavior is OK for you, then close this issue

[2015-04-19 10:50] ukicar commented on #188
No, not related. User files and projects can't be deleted now

[2015-04-19 11:00] nmarcetic commented on #188
I will take a look later  whats happening... I work on this last night.

[2015-04-19 11:20] ks156 commented on #178
http://superuser.com/questions/583826/recording-using-arecord-creates-thousands-of-files
http://stackoverflow.com/questions/24629915/multiple-files-created-by-arecord

[2015-04-19 16:10] nmarcetic commented on #185
@ks156 I can't reproduce this bug, using chrome and firefox (i think its not related to browser). I try with new project main.py and creating new files also no error's.

[2015-04-19 16:12] nmarcetic commented on #188
Should be fixed now, my mistake , sry!

[2015-04-19 16:23] ukicar commented on #185
Can't reproduce neither. Tested on safari

[2015-04-19 16:25] nmarcetic commented on #185
@ks156 Try to hover the error , so we can see what Ace is telling about those errors (i notice this in lot of IDE's).

[2015-04-19 17:46] drasko opened #193 "Board SVG image in the "Board" section of IDE has wrong PWM pins"
Image shows tthat pins 19, 20 and 21 are RGB, when it should be 18, 19 and 20.

This is very confusing for the Blinky example.

![screenshot from 2015-04-19 19 44 23](https://cloud.githubusercontent.com/assets/149944/7220564/a508b1e8-e6cc-11e4-9d04-6401ac2034c6.png)

[2015-04-19 17:48] ks156 commented on #185
I'll retest tonight if I find some time

[2015-04-19 18:41] #186 closed

[2015-04-19 18:46] ks156 opened #194 "TZ are not in an alphabetical order"

[2015-04-19 19:09] ks156 commented on #185
I can't reproduce this bug anymore... cache ?

[2015-04-19 19:09] #185 closed

[2015-04-19 19:10] nmarcetic commented on #185
Its possible. As @ukicar says Ace is very crazy with cache :)

[2015-04-19 20:03] ukicar commented on #193
corrected

[2015-04-19 20:03] #193 closed

[2015-04-19 22:39] manuIO opened #195 "root directory is not writable over Samba"
When I try to save files in root (/weio) over Samba I get this error message: open("/Volumes/root/__init__.py~"): Permission denied

[2015-04-19 22:41] manuIO commented on #195
fixed here: https://github.com/nodesign/weio/pull/196
@ks156 it's a good solution or this will break something?

[2015-04-20 05:39] ks156 commented on #195
Ow, yes, we didn't saw this one. Thank you.

[2015-04-20 08:44] ks156 opened #198 "Fritzing schematic for blink_PY is not correct"
The fritzing schematic for blink_PY example is not correct :
http://we-io.net/doc/examples.html#blink-py

A strap between F17 and E17 must be added (or move C17 to F17), otherwise the GND is not connected.
In addition, I would suggest lower resistors value. For example, 180R or even 150R.

[2015-04-20 11:57] drasko commented on #155
Same for WiFi network selection when you want to go to STA mode.

[2015-04-20 22:45] manuIO commented on #198
It's because we-io.net/doc is not up to date, here is good schematic : https://github.com/nodesign/weioDoc/blob/master/images/blink_PY.png
@ukicar @drasko why web site documentation is not automatically updated with https://github.com/nodesign/weioDoc/ ?

[2015-04-21 06:49] manuIO opened #199 "Create or duplicate projects with existent name project"
Duplicate or create a new project with a name that already exist in the flash makes that no warning message is displayed (in the case of duplicate project a message appears but is a wrong message: "connection lost...") and the project is not created.

[2015-04-21 07:33] drasko commented on #198
@ukicar can you take care of this?

[2015-04-21 09:52] nmarcetic commented on #199
@manuIO Tnx for info.
I know for this, its not a bug , but its not a perfect behavior.  What should be the scenario, what do you propose ?
@ukicar can you please participate with your opinion.

[2015-04-21 09:59] ukicar commented on #199
In this case we have to launch one modal view with warning. This project name already exists, please choose another one

[2015-04-21 10:10] nmarcetic commented on #199
Ok, tnx. @manuIO if you agree we will add modal dialog warning.

[2015-04-21 10:19] ukicar commented on #199
I'm ok with modal warning

[2015-04-21 10:23] drasko commented on #199
Go with modal.

[2015-04-21 12:00] manuIO commented on #199
:+1:

[2015-04-22 20:14] nmarcetic commented on #199
Its should be ok now, i added msg on dialog box, we already handle empty project name like this. Please test, i have some conflicts with dasboard.js file.

[2015-04-24 13:09] ks156 opened #202 "rotary_encoder.py doesn't work"
This lib has to be updated to work with the current version of IoTPy and weioLib.

http://we-io.net/forum/viewtopic.php?f=13&t=419

[2015-04-24 18:24] ks156 commented on #194
Fixed by https://github.com/nodesign/weio/pull/203.
Must be double checked.

[2015-04-24 19:00] ks156 opened #204 "Default debounce time for interrupt is too short"
The default debounce delay for interrupts is fixed at 50us. This is usually too short for most applications (encoder, switches, and basically UI devices).
This default delay should be increased at, say, 10ms. This will improve the user experience for users who don't know much the hardware. In addition, this parameter must be well explained in the documentation and the default delay must be explici

[2015-04-25 11:14] ks156 commented on #204
@ukicar : 10ms, OK for you ?

[2015-04-25 12:17] ukicar commented on #204
Ok for me

[2015-04-25 14:33] ks156 commented on #204
I made a mistake. Default debounce time is 50**ms**, not 50**us**.

[2015-04-25 15:38] ks156 opened #206 "weioRunner.py should be more explicit on python errors"
When there's an error on a python code, only the message *MODULE CAN'T BE LOADED. Maybe you have some errors in modules that you wish to import? * is displayed (https://github.com/nodesign/weio/blob/next/weioRunner.py#L260).

This is not explicit at all, and it's always hard to know what's the problem, especially when it comes from an *import*.

We should find a way to explicitly display the probl

[2015-04-27 18:11] manuIO commented on #195
can be closed?

[2015-04-27 18:15] manuIO commented on #199
can be closed?

[2015-04-29 17:08] ks156 commented on #189
Received the AM2302 today, and it works perfectly.

[2015-04-29 17:08] #189 closed

[2015-05-02 19:36] drasko opened #215 "Preview not displayed if clicked before PLAY"
Preview is supposed to trigger PLAY, however it comes too late.

This provokes error in displaying the page:
![screenshot from 2015-05-02 21 28 11](https://cloud.githubusercontent.com/assets/149944/7442471/3a6ef1fc-f113-11e4-85e7-4d9de7438652.png)

Insert a check not to load the iFrame before it is not served, or to re-load it somehow.

[2015-05-02 23:00] drasko opened #216 "Stop saving the program when it is launched"
I have noticed that programs opened in the IDE are regularealy saved, even when we are in the program execution mode.

This transfers unnecessary amount of data when we are already in the middle of sending various data via websocket. It also polutes debugging log.

Please disable saving of files when program is in the execution mode (i.e. PLAY is pressed).

[2015-05-03 13:52] drasko opened #217 "Possible Race Condition on Server Push"
For some reason, examples that use serverPush() break after some time with the error message presented below.

This example: https://github.com/nodesign/weio/blob/master/examples/analog/analogReadPotentio_JS
breaks.

So is this one: https://github.com/nodesign/weio/tree/master/examples/webApps/bgColorLEDWEB.

This makes usage of the board very unstable and should be treated in urgenence.

Log:

ME

[2015-05-03 18:11] drasko commented on #217
After some thinking, I got a conclusion that `listener_thread` (https://github.com/nodesign/weio/blob/master/weioRunner.py#L320), that gets a messages from Python and pushes them to SockJS Websocket connections hits the exception at one point and dies.

After that server push will never work, as there is no running thread to accept messages from Python and send them back to JS frontend. All JS fun

[2015-05-04 21:03] drasko commented on #217
Might be fixed by https://github.com/nodesign/weio/commit/415a3cc5f73d47a9cdce745a8c7ef9292365dcb2

Has to be tested!

[2015-05-09 14:44] drasko commented on #204
OK for me.

[2015-05-09 14:45] ks156 commented on #198
The doc is now correctly updated. Schematic is OK.

[2015-05-09 14:45] #198 closed

[2015-05-10 16:58] drasko opened #222 "Updater - root user password not preserved"
Sysupgrade should preserve user passwords. However, due to the known bug in OpenWRT: https://dev.openwrt.org/ticket/18206, UNIX account passwords are not preserved.

`root` in WeIO thus uses password after the sysupgrade, and `ssh` and `samba` are not accessible.

Proposed workaround is on the bug report: _To prevent that, you need to edit /etc/keep.d/base-files-essentials to include also "/etc/sh

[2015-05-10 19:16] #202 closed

[2015-05-10 19:16] #204 closed

[2015-05-10 20:34] manuIO opened #223 "Strange behavior with IDE and non empty SD card"
I've noticed that IDE blocks on an infinite loop when is loading project menu if SD card content is to bigger:
When IDE page is loaded the "Oh: I've lost connection" message appears , if the page is reloaded the same message appears, if the message is just closed project menu is empty.

![screen shot 2015-05-10 at 22 30 11](https://cloud.githubusercontent.com/assets/9677805/7556103/2ace03d0-f764-1

[2015-05-11 08:24] areox-net opened #224 "CSS: file index list overflow"
This list should have overflow: hidden and text-overflow: ellipsis.
This column should probably be large ( or resizable ) in order to be able to display long file names
![screen shot 2015-05-08 at 18 59 16](https://cloud.githubusercontent.com/assets/1255251/7560920/ea688892-f7c7-11e4-889b-ee6ad2642bd6.png)

[2015-05-11 08:29] nmarcetic commented on #224
Hi @areox-net , you are right and it's should be resizable. Tnx four info.

[2015-05-11 08:50] areox-net opened #225 "CSS: tabs icons showing extra pixel"
When not selected, tabs icons show some pixel of the bottom sprite line.
I think this is due to the element height that should be a little smaller ( height: 22px )
![screen shot 2015-05-11 at 10 45 53](https://cloud.githubusercontent.com/assets/1255251/7561273/1531c950-f7cb-11e4-9d80-5fe7c2083f31.png)

[2015-05-11 08:57] areox-net opened #226 "CSS: wi-fi networks list"
![screen shot 2015-05-11 at 10 50 54](https://cloud.githubusercontent.com/assets/1255251/7561404/070242a0-f7cc-11e4-9b2b-ced3a7661722.png)
I think that the left signal icons should be horizontally aligned with the overlying text ( more left ) and vertically in the middle of the text line ( some pixel toward the bottom) and the lock icons should be pushed to the right to have a more coherent list.

[2015-05-11 09:04] drasko commented on #224
@areox-net can you please fork the code from the `next` branch and send the pull requests on the `next` branch with fixes?

[2015-05-11 09:07] ks156 commented on #222
@drasko : you put it in the 1.2, but it seems to be fixed by ad5a254fcf71eb0f84aeb198b38f8e47657190e1. The code for 1.1 is already frozen ?

[2015-05-11 09:14] drasko commented on #222
@ks156 sorry, corrected to v1.1.

[2015-05-11 09:16] drasko commented on #215
@nmarcetic it would be great to have fix for this bug for v1.1. Do you think it is possible to take this one urgently?

[2015-05-11 11:09] nmarcetic commented on #215
Yes, i will take a look tonight.

[2015-05-11 18:15] manuIO opened #228 "Project menu is grayed out when no option is selected"
![screen shot 2015-05-11 at 20 10 24](https://cloud.githubusercontent.com/assets/9677805/7571729/d7e7dd2e-f819-11e4-8867-6de2325ae8d4.png)

Click on project menu and then click another time: project menu is closed but is grayed out.

[2015-05-12 19:24] ks156 commented on #222
Tested, and password preserved.

[2015-05-12 19:27] ks156 commented on #94
Tested. OK

[2015-05-12 19:30] ks156 commented on #215
Clicking on *PREVIEW* when project is stopped automatically start the project, and display it.
OK for me.

[2015-05-12 19:33] ks156 commented on #199
When I create a new project with an already existing name, nothing happens. No messages at all.
When I duplicate a project with an existing name, the message "I've lost connection!" appears.

Not fixed for me.

[2015-05-12 19:41] ks156 commented on #188
Confirmed. OK

[2015-05-12 19:43] ks156 commented on #42
Tested and confirmed. OK

[2015-05-12 19:44] ks156 commented on #152
Confirmed. OK

[2015-05-12 19:45] ks156 commented on #134
Unable to delete examples. Works fine. OK

[2015-05-13 06:38] manuIO commented on #42
Tested and confirmed. :+1:

[2015-05-13 06:44] manuIO commented on #134
It works also for me!
But I've noticed a minor bug: If you try to remove one "read only" file by clicking on the cross, then all project files are blocked and they can be openend

[2015-05-13 06:56] manuIO commented on #152
Confirmed :+1:

[2015-05-13 06:59] manuIO commented on #94
Confirmed :+1:

[2015-05-13 07:03] manuIO commented on #215
Confirmed :+1:

[2015-05-13 07:14] manuIO opened #232 "Try to delete "read only" files blocks opening of all project files"
If you try to remove one "read only" file by clicking on the cross, then all files of current project (index.html, main.py, etc...) are blocked and they can be opened.

[2015-05-13 07:23] drasko commented on #232
They can be opened or they CAN NOT be opened? What does it mean "blocked"?

[2015-05-13 08:15] manuIO commented on #232
Can not be opened sorry... blocked means that is not more possible to open a file on editor from project tree (if you click on one file nothing happens).

[2015-05-13 09:47] nmarcetic commented on #232
I didn't  notice this... tnx @manuIO i will check.

[2015-05-14 09:44] ks156 commented on #217
Intensively tested, and seems fixed.

[2015-05-14 09:48] #215 closed

[2015-05-14 09:50] ks156 commented on #206
Fixed. Please confirm.

[2015-05-14 09:51] ks156 commented on #195
Permissions are OK now. Fixed

[2015-05-14 09:52] #152 closed

[2015-05-14 09:52] #134 closed

[2015-05-14 09:53] #94 closed

[2015-05-14 09:59] #42 closed

[2015-05-14 17:21] bltzr opened #233 "powerModule.py not working"
Hi there !

I'm trying to use the powerModule
as @ks156 told me on may 1st on gitter,
I have added 'from weioLib.weio import *' inside of /weio/things/output/power/powerModule.py,
then restarted
but that didn't help
I still get these errors
https://gist.github.com/anonymous/7d31996c9cdc11f87a43

anybody having a hint at that ?

[2015-05-14 17:58] ks156 commented on #233
There's a missing import somewhere. I'll check it ASAP.
Can you also attach your code ? It will be easier to test.
Thanks
Paul

[2015-05-15 07:55] bltzr commented on #233
Thanks, Paul
I don't have any specific code, I'm using the powerModule example

[2015-05-18 16:53] ks156 commented on #233
Adding
[code]
just after
[code]
on
[code]
should fix the problem. Can you confirm ?

[2015-05-18 17:06] bltzr commented on #233
right, I don’t have any errors any more !!

now, I need to figure out how to use them, but that's another issue

[2015-05-18 17:07] bltzr commented on #233
big thanks !!

[2015-05-18 18:05] ks156 commented on #233
Glad to know it works now.

[2015-05-19 05:16] ukicar opened #236 "WeIO rescue configuration not updated after passing to v1.1"
As these files are marked against erasing. https://github.com/nodesign/weio/blob/v1.1/openWrt/files/lib/upgrade/keep.d/base-files#L3
New parameters are never updated with classical update procedure.

The parameter in question is this one
https://github.com/nodesign/weio/blob/v1.1/openWrt/files/etc/config/wireless.ap.rescue#L3

This is possible to correct with migrateConfig.py https://github.com/no

[2015-05-19 05:50] #233 closed

[2015-05-20 15:08] bltzr opened #238 "offset in the output numbers of the powerModule"
in https://github.com/nodesign/weio/blob/master/examples/actuators/powerModule/main.py#L22
with just a print(a) added before line 25

here's what I get when cycling through the ouptuts:
there's an offset between the software output and the physical one

here's the mapping:
SW output (a): physical output
0: 7
1: 6
2: 5
3: 4
4: 3
5: 2
6: 1
7: 0
8: 15
9: 14
and so on...

[2015-05-21 17:34] ks156 commented on #238
I checked the schematic and there's a strange swapping between the shift register and the darlington arrays. So, can you replace this part:
https://github.com/nodesign/weio/blob/master/things/output/power/powerModule.py#L66-L67
by
[code]
and check if the pin are in the correct order ?

I attach the complete file on gist if it's easier for you : https://gist.github.com/ks156/29a20170c7189738090a

T

[2015-05-22 13:52] bltzr commented on #238
I'm running the powerModule example. I have just added a print(a) after pwr.digitalWrite

I've plugged an LED strip to output 0 with this change:
my LED just turns on on 0 and 8 (and turns off on 1 and 9)
for output 1, it's on for 8 and 14
for output 2, that's 8 and 13
and so on...

when plugging on outputs >= 8
the physical output is lit between a=(15-ouput) and a=7
e.g. for a=14 the LED is on be

[2015-05-22 18:15] ks156 commented on #238
Here's a new version with a correct remapping : https://gist.github.com/ks156/29a20170c7189738090a

[2015-05-22 20:25] bltzr commented on #238
Yes... Almost correct ;-)

Actually it had to be reversed:
            self.mapping = [8, 9, 10, 11, 12, 13, 14, 15, 0, 1, 2, 3, 4, 5, 6, 7]
And then it works just fine !!!!
Thanks for your help !

[2015-05-23 14:04] ks156 commented on #238
Thank you @bltzr. I've created a pull request. I'll see if @ukicar can confirm.

[2015-05-26 05:36] #222 closed

[2015-05-26 05:37] #195 closed

[2015-05-26 05:39] #194 closed

[2015-05-30 16:47] ukicar commented on #238
Thank you guys for this help and research. The error was caused by the difference in wiring from my original prototype and the one that came from 8devices. I fixed also portwrite function in this commit https://github.com/nodesign/weio/commit/7628fe6e688f891f70cb005de20f0039eaab9c23
now powerModule functions as expected.

thank you again!

[2015-05-30 16:47] #238 closed

[2015-06-02 18:17] ks156 commented on #238
Nice, thank you @ukicar. Can you confirm that the schematics here https://github.com/nodesign/weioPowerModule is up-to-date with the actual prod version ?
My first mapping (https://gist.github.com/ks156/29a20170c7189738090a#file-powermodule-py-L67) has been written from the schematic, but is actually wrong.

[2015-06-07 10:15] AlexDus opened #240 "Pins 8-12 not usable for digital io"
When i try to use port 8-12 for digital io it just does not work. I am using the python commands digitalRead and digitalWrite. Ports 7 and 13 work without any problems using the same code. I have two weio boards and both behave the same. I am using firmware version 1.1

[2015-06-07 10:44] ukicar commented on #240
Hello Alex,
I just tested on one WeIO board and I can't reproduce your bug. I used this code for testing purpose
'''python
from weioLib.weio import *
pin = 12
def setup():
    attach.process(myProcess)

def myProcess():
    while True :
        digitalWrite(pin,HIGH)
        delay(70)
        digitalWrite(pin,LOW)
        delay(70)

'''
Please can you try with this code and report us your findings

[2015-06-07 12:04] AlexDus commented on #240
Hi,

that's almost the same code i used to test the problem. Still the same result. Tried it with pin 7 and 8. Pin 7 is working, pin 8 is not. Even made a firmware recovery on one of the boards a couple a minutes ago - did not help. By the way - that's the way i installed 1.1 on both of the boards. I didn't use the online update. Maybe something in the weio_recovery.bin?

[2015-06-07 12:07] drasko commented on #240
Hi Alex,
just a quick question - did you saw the same behavior with version 1.0?

I am trying to understand if the error comes from SW, or is it some HW
issue with your board.

BR,
Drasko
On Jun 7, 2015 2:04 PM, "AlexDus" <notifications@github.com> wrote:

[2015-06-07 12:29] AlexDus commented on #240
Hi Drasko,

just downgraded one board to 1.0. The version shows the same behavior. Points to a HW problem in both boards.

Regards,
Alex

[2015-06-07 12:35] drasko commented on #240
Hi Alex,

On Jun 7, 2015 2:29 PM, "AlexDus" <notifications@github.com> wrote:

Points to a HW problem in both boards.

Thanks for checking this out.

Let's wait a bit what what other guys looking this list might suggest, but
it is very possible that some connectors were badly soldered on your board.

In the meantime I will check with 8Devices, and you will probably have to
send them your board for

[2015-06-07 14:05] AlexDus commented on #240
Thanks for your quick support.

Regards
Alex

[2015-06-07 16:31] drasko opened #241 "Too little space on flash"
I have noticed that we have critically low flash space after v1.1.

Quick look:
[code]

Can we reduce `ace`, `font-awesome` and `jquery` size?

[2015-06-07 16:44] drasko commented on #241
BTW, right after update:
[code]

[2015-06-07 17:24] drasko commented on #241
I have run also to this problem: https://forum.openwrt.org/viewtopic.php?id=39016

[2015-07-08 16:34] AlexDus commented on #240
Hi Drasko,

anything new regarding the problem?

Regards
Alex

[2015-10-02 07:04] #188 closed

[2015-10-02 07:04] #199 closed

[2015-10-02 07:04] #206 closed

[2015-10-02 07:04] #216 closed

[2015-10-02 07:10] ks156 commented on #217
I never heard again about this problem. I'll close this issue.

[2015-10-02 07:10] #217 closed

[2015-10-02 07:36] drasko commented on #241
This will be resolved with new version of OpenWrt. WeIO will use official Chaos Calmer and will offload package management to `opkg` instead havim them hard-compiled into the image.

v1.2 is currently in preparation and should be released soon.

[2015-10-02 07:42] drasko commented on #178
@ukicar can you please take a look at new version or alternative solution. Please research and advise how to proceed with this.

[2015-10-02 07:44] drasko commented on #161
@nmarcetic which version of Ace is used? Is there new one?

[2015-10-02 07:53] drasko commented on #132
Looks like new OpenWrt version will resolve this one.

[2015-10-02 10:45] nmarcetic commented on #161
We use the latest version (we upgrade the version), no new one.

[2015-10-02 10:47] drasko commented on #161
Please note the version number, it is the only reference ("latest" does not mean much when you look at this posts in 6 months).

[2015-10-02 10:52] nmarcetic commented on #161
We use 1.9.0
There is 1.2.0 version which support many new languages, if you want we can include this 1.2.0 version. Which will not solve this errors problems.

[2015-10-15 11:48] ks156 commented on #232
Problem confirmed

[2015-10-15 11:50] ks156 commented on #228
Confirmed

[2015-10-15 11:53] ks156 commented on #225
I don't see this problem, neither with IE, Chrome or Safari.

[2015-10-17 18:24] drasko opened #246 "Documentation page should reflect weioDoc"
Flatdoc (http://ricostacruz.com/flatdoc/) has a feature to reflect GitHub repo, and automatically render tha page from a code in the repo.

Currently this is not the case, and document page http://we-io.net/doc/gettingStarted.html has to be manually update each time via FTP.

Please enable this automatic renender feature - so that we can just push to GitHub and forget.

[2015-10-17 19:55] ks156 commented on #172
@ukicar Please confirm this fix and close the issue if OK

[2015-10-19 12:37] ks156 commented on #241
extroot fix this problem : https://github.com/nodesign/weio/wiki/How-to-extend-WeIO-flash-space

[2015-10-19 13:04] ks156 commented on #132
Chaos Calmer fix the problem. pip dependancies must be installed that way :
opkg install python-xml python-distutils

And here's the result with python-twitter :
[code]

[2015-10-19 13:08] ks156 commented on #101
Everything looks fine with Chaos Calmer. First boot is OK

[2015-10-19 13:22] drasko commented on #101
:clap:

[2015-10-19 19:00] drasko commented on #240
@ukicar what is the status on this? Can you please explain the issues reported by 8Devices? What are the actions to take?

[2015-10-19 19:01] drasko commented on #236
Who is working on this? @nmarcetic? @ukicar?

[2015-10-19 19:01] drasko commented on #232
@nmarcetic this one is for you.

[2015-10-19 19:02] drasko commented on #172
@ukicar action from you needed!

[2015-10-19 19:06] drasko commented on #132
@ks156 this one is interesting. Note that `python-pip` is present via CC feeds. However, when I included it in menuconfig, it selected all Python packages as a dependencies. Now I see why - looks like it needs `python-xml`,  `python-distutils` and maybe some other stuff.

I propose thus:
- Including `python-pip` package from CC feeds in our installation process here: https://github.com/nodesign/we

[2015-10-19 19:14] ks156 commented on #240
I'll check it.

[2015-10-19 19:26] ks156 commented on #240
The pinout of pins 8-14 have changed. Problem is that for those (I don't know who nor how many boards are concerned), the new pin layout will not be compatible.
Anyway, the new layout is applicable both for board produced at the beginning of this year (tested with my board), and new batch coming. So this change makes sense.
I can keep the old config as a separate file, for compatibility. What do y

[2015-10-19 19:30] drasko commented on #240
No need IMHO. This comments will be used as a doc, and whoever runs into she problem should shout here or in the forum.

Can we paste this old config and instructions somewhere, for the documentation sake?

[2015-10-19 19:33] ks156 commented on #240
Ok, I'll write something on the wiki and apply the new pinout in IoTPy

[2015-10-19 19:45] drasko opened #254 "OpenWrt package installations"
I have noticed following during weio installation in OpenWrt buildroot:
[code]

Obviously, list in the https://github.com/nodesign/weio/blob/master/openWrt/pkg_install.sh has to be revised!

[2015-10-19 19:53] ks156 commented on #132
Agree 100%. You handle it ?

[2015-10-19 19:56] ks156 commented on #240
I've kept the old config in the same file, with another name (WEIO_PINOUT_OLD). It would be easier to switch to that config if needed

[2015-10-19 19:56] drasko commented on #132
I was hoping that you would take it :). I would like to do some testing.

[2015-10-19 19:58] ks156 commented on #132
Ok, I'll do it. :D

[2015-10-19 20:00] drasko commented on #132
Not urgent. We still have a few days before release ;).

[2015-10-19 20:12] ks156 commented on #132
No problem. I'll do it tonight. After that, I'll recompile all from scratch, to be sure all is OK. So the result will be for tomorrow

[2015-10-19 20:52] ks156 commented on #254
Ok for that ?

[code]

[2015-10-20 05:39] ks156 commented on #178
To be tested with the new openWRT version

[2015-10-20 05:43] ks156 commented on #172
Fix confirmed by @manuIO (email)

[2015-10-20 05:59] ks156 commented on #254
Proposal :

diff :
[code]

complete file :
[code]

[2015-10-20 07:38] drasko commented on #254
LGTM

[2015-10-20 07:38] #254 closed

[2015-10-20 17:57] #240 closed

[2015-10-29 22:37] ks156 commented on #236
Is it fixed with the new updater ? I didn't check ..

[2015-10-29 22:40] ks156 commented on #132
Fixed by v1.2. pip is compiled with openwrt.

[2015-10-29 22:40] #132 closed

[2015-10-29 22:51] ukicar commented on #236
Yes this has been repaired and tested

[2015-10-29 22:51] #236 closed

[2015-10-30 06:52] ks156 commented on #241
Fixed by v1.2

[2015-10-30 06:52] #241 closed

[2015-10-30 06:52] ks156 commented on #101
Fixed by v1.2

[2015-10-30 06:52] #101 closed

[2015-10-30 19:09] dasariarun commented on #178
How to over come the issue??any clue?

[2015-10-30 21:14] drasko commented on #178
Is this re-appearing in the new version v1.2 as well?

[2015-11-01 13:17] ks156 commented on #172
The original fix works if the connection is lost when the board is powered.
But if the STA network is not available at system boot, it fall back in AP mode.

From my point of view, the system must stays waiting for the STA network in this case. For example, after a power cut, home routers are often longer to boot than WeIO, and falling back to AP is probably not the intended behavior.

[2015-11-01 18:34] ks156 commented on #172
I propose to transform this part https://github.com/nodesign/weio/blob/master/scripts/run_weio.sh#L118-L127 by :
[code]

[2015-11-01 18:35] ks156 commented on #178
I don't have an USB soundcard. @ukicar, can you try with v1.2 ?

[2015-11-01 22:20] drasko commented on #172
OK for me. Note - if for some reason you can not log in as a STA (for example typo in the password), you will not come back to AP mode. This will demand manual network set-up, and after that restart of WeIO app.

But this is OK for me, as I suppose that `auto_to_ap : NO` is for advanced users.

[2015-11-02 08:58] ementi opened #258 "Can not start Projects from SD Card"
Like the title says, even after upgrading to V1.2, I can not start any projects from SD Card. Not even if I create a new project and try to start the new "Hello World" default main.py .

This appears after trying to start the Program:
"MODULE CAN'T BE LOADED. Maybe you have some errors in modules that you wish to import?
Traceback (most recent call last):
File "./weioRunner.py", line 258, in launc

[2015-11-02 10:12] ks156 commented on #172
Yeah, but there's a button to fall back in AP if needed.
I'll do the change tonight.

[2015-11-02 10:13] drasko commented on #172
OK, +1

[2015-11-02 12:17] ementi opened #259 "Closing AND Deleting Files not possible (V1.2)"
Deleting files (Clicking "X" on the left side of the File-Tree) isn't possible anymore since update to V1.2
There is no "X" anymore in the top right corner, to close open pages i.e. main.py

[2015-11-02 17:48] ks156 commented on #258
Could you post the output of these commands :  ```ls -alR /weioUser/sd``` and ```df```

It may help.

[2015-11-02 18:32] ks156 commented on #259
I confirm : click "X" on the file tree doesn't have any effect.

[2015-11-02 19:26] ks156 commented on #172
PR #260 merged, and fully tested on my side.
Can be closed once the fix is confirmed by someone else.

[2015-11-03 10:31] ks156 commented on #258
Actually, there's a bug with removable devices in v1.2. Some native language are not supported.
(ref http://we-io.net/forum/viewtopic.php?f=2&t=775).

In your case, the problem was already present on v1.1, then the cause is maybe different.
Can you also tell me in which filesystem your SD card is formatted ?

[2015-11-03 11:15] ks156 opened #261 "Filename truncated on FAT SD card and usb flash"
In some case (depending on the way the removable device is formatted), SD cards and USB Flash drives are not usable.
This is due to some missing native langage modules in the kernel.

(ref @jsiobj / http://we-io.net/forum/viewtopic.php?f=2&t=775)

[2015-11-03 11:54] ementi commented on #258
The output:
root@WEIO:~# ls -al /weioUser/sd
drwxr-xr-x    3 root     root         32768 Oct 29 20:58 .
drwxr-xr-x    1 root     root             0 Oct 29 20:52 ..
-rwxr-xr-x    1 root     root             0 Oct 29 20:58 __init__.py
drwxr-xr-x    3 root     root         32768 Oct 29  2015 test_1

The card is formatted in FAT32

[2015-11-03 11:59] ks156 commented on #258
@ementi : can you also give me the output of :
```ls -al /weioUser/sd/test_1``` and ```df```

That's strange, because ```init.py``` should be ```__init__.py```

Can you also try to type the following commands, and put here the output :
[code]

[2015-11-03 12:13] ementi commented on #258
root@WEIO:~# ls -al /weioUser/sd/test_1/
drwxr-xr-x    3 root     root         32768 Oct 29  2015 .
drwxr-xr-x    3 root     root         32768 Oct 29 20:58 ..
-rwxr-xr-x    1 root     root             0 Oct 29  2015 \__init__.py
-rwxr-xr-x    1 root     root           348 Oct 29  2015 index.htm
-rwxr-xr-x    1 root     root           118 Oct 29  2015 main.py
drwxr-xr-x    6 root     root

[2015-11-03 12:40] ks156 commented on #258
Simply reboot the board, or type :
[code]
and then remove and plug your SD card again. Your SD card is not mounted anymore, that's all.

Everything's looks OK, so I don't understand the problem.
Could you try to create a new project on SD Card, and test again ?

[2015-11-03 12:53] ementi commented on #258
You are my hero of the day :)
HelloWorld does work now. I have no idea how and why but it does.
Although I can't open the html files in the development environment. Which I was able to before.

[2015-11-03 13:06] drasko commented on #258
How did you make it work?

[2015-11-03 13:19] ks156 commented on #259
Bug introduced in this commit : https://github.com/nodesign/weio/commit/a9ce0f26106eb6546a8c87c9d188c252b3abe231

[2015-11-03 13:22] ks156 commented on #258
I suspect some problems with this SD card (already had some inconsistant behavior with one of my card). Try to format it again, I'm almost sure it will work again like a charm.

[2015-11-04 09:53] ementi commented on #258
Formatted my SD Card, but problem of not being able to open index.htm persists. Might it be a problem that in the file tree the name is "index.htm" instead of "index.html"?

@drasko
I just followed the instructions given here. Nothing more. Maybe the unmounting and mounting again did the job.

[2015-11-04 09:55] ks156 commented on #258
Indeed. And this is probably related to this issue : https://github.com/nodesign/weio/issues/261

[2015-11-04 10:15] ementi commented on #258
fix confirmed :)

[2015-11-04 10:29] drasko commented on #258
@ks156 we close this one? #216 will be fixed soon with v1.3.

[2015-11-04 10:42] ks156 commented on #258
Yeap

[2015-11-04 10:42] #258 closed

[2015-11-04 10:55] ks156 commented on #258
@ementi : if you want, I can send you a new ```weio_recovery.bin``` image that should fix your problem.
Do you want to test it ? Do you know how to flash the board with a usb key ?

[2015-11-04 14:31] ementi commented on #258
That would be great! I flashed my WEIO with V1.3 with the sd card, same procedure isn't it?

[2015-11-04 14:36] drasko commented on #258
You mean v1.2. Yes, it will be the same procedure, described here: https://github.com/nodesign/weio/wiki/WeIO-Recovery#offline-manual-update-via-sd-card-or-usb-key

[2015-11-04 18:29] ks156 commented on #258
@ementi : Here's a link where you can download a new image that should fix the issue #216 : https://www.dropbox.com/s/cm0ip8vmqya625t/weio_recovery.bin?dl=0

Can you comment the issue #216 to let me know if it fix the problem or not ?

[2015-11-04 22:32] jsiobj commented on #261
@ks156 : Just tried the image provided in #258 and now SD and USB are properly mounted as vfat :-)
[code]
Thanks !

[2015-11-05 06:17] ks156 commented on #261
Thank you for this confirmation @jsiobj !

[2015-11-05 12:11] ks156 commented on #261
Merged and will be added on v1.3

[2015-11-05 12:11] #261 closed

[2015-11-05 12:21] ks156 commented on #259
Fixed by PR #263

[2015-11-05 21:07] ementi commented on #261
So with the new weio_recovery.bin Paul sent me, my SD Card works now perfectly fine. I have access to the Python files and to the html files with longer names too.
Thank you for your support.

[2015-11-06 06:26] ks156 commented on #261
@ementi : Thanks for your feedback !

[2015-11-08 21:34] manuIO opened #266 "pulseIn timeout"
if the value of pulseIn timeout is superior to 1 second the function returns -1.

Console message:
pulseIn( 23 , 0 , 1100000 )
PulseIn duration = -1

[2015-11-09 08:01] ks156 commented on #266
Indeed, timeout parameter is expressed in micro-seconds. Is it a problem ?

All UPER commands that requires a return value (like pulseIn) are blocking. To avoid to block the server if something goes wrong, there's a timeout of 1 sec (https://github.com/nodesign/weio/blob/master/IoTPy/pyuper/ioboard.py#L216)

You opened a ticket for that, but I don't understand if something must be changed in the c

[2015-11-09 08:17] manuIO commented on #266
timeout paramater unit is not a problem, I've done a mistake... I've edited the issue just while your comment.

IMHO the 1 sec parameter is very limiting, specially to do understandable examples. For example in Arduino this function works on pulses from 10 microseconds to 3 minutes in length.
 Moreover if timeout is superior to 1 sec the board enter in a strange state , the examples can't be stopp

[2015-11-09 08:30] ks156 commented on #266
Indeed, it's a bit short. This timeout is not a problem only for *pulseIn*, but also for other commands. This is unfortunately something we must keep due to IoTPy architecture. It's a big job to change it in IoTPy. Anyway, this lib will probably change soon, and I want to see the new library more asynchronous.

Either the LPC firmware or IoTPy crash when this occurs. Some works need to be done bot

[2015-11-09 08:32] ks156 commented on #162
Link #265 and https://github.com/nodesign/weioDoc/pull/16

[2015-11-09 08:34] ks156 commented on #162
@manuIO : Is it possible for you to test and write a js example and doc ?

[2015-11-09 09:46] manuIO commented on #162
@ks156 yes of course! It's planned ;)

[2015-11-09 09:49] ks156 commented on #162
Thank you :stuck_out_tongue:

[2015-11-09 09:59] ks156 commented on #53
@manuIO added these examples (for v1.0) :
- facebook
- gmail
- twitter

Do we need more (yeap, probably, but from the community :smile:)? Does this issue still have sense ?

[2015-11-09 11:43] ementi opened #267 "weioSPI read_block_data error, when block size > 175"
I am using SPI communication (Port 0) to communicate with a sensor.
I am trying to read a block of 1024 bytes with the read_block_data() function.
It works perfectly for setting block sizes "SPI_FUNC_READ_BLOCK_DATA" <= 175. But if I want to read more, I get the error: (For example with 176 bytes)
[code]
(I changed the function a bit, so if I want to read n Bytes the unpack requires a string argum

[2015-11-09 12:42] ks156 commented on #267
Hello @ementi,

This is unfortunately a known bug, difficult to fix.
I have spent many hours to understand what was the problem, and I figured out that the problem was located in the LPC firmware side, and is due to a lack of memory.
UPER (which is the current firmware we use for the LPC) is divided in two parts : UPER itself, which handle all the peripheral functionalities (GPIO, I2C, SPI, etc),

[2015-11-10 13:00] ementi commented on #267
I've got the problem, that I need a certain amount of data in a specific time.
So we shouldn't lose time within the block read.
So the three limiting factors of this task are: The clock speed of the SPI, the number of bytes read, and the time we need to set the chipselect pin to LOW and to HIGH again.
I think the most limiting factor __after__ the number of bytes, is the time for the chipselect.
S

[2015-11-10 20:43] #266 closed

[2015-11-10 20:43] #53 closed

[2015-11-14 11:54] manuIO commented on #162
js doc added: https://github.com/nodesign/weioDoc/pull/17

The issue can be closed

[2015-11-14 13:11] ks156 commented on #162
Thank you @manuIO !

[2015-11-14 13:11] #162 closed

[2015-11-18 12:33] ondonadas opened #269 "usb/sd cards detected as /dev/sda"
Hi @drasko

Fyi:

I've been using weio sd/usb memory card detection. After some days I've noticed that there usb drives and microsd cards that are detected as /dev/sda (please note the lack of partition number). In other words the drive is never mounted. In order to avoid this I've modified /etc/hotplug.d/weio/10-weio-removable-devices:

<pre>
[ -e $sd/`basename $sd`1 ] && sd_name=`basename $sd`1

[2015-11-18 13:20] drasko commented on #269
@ondonadas  very strange... Is this card formatted correctly? Looks like it's partition table is bogus.

[2015-11-18 17:10] ondonadas commented on #269
Yes, the card is formatted right. Ubuntu shows FAT32 format

[2015-11-18 18:29] ks156 commented on #269
@ondonadas, if I understand correctly, your SD cards or USB drives were mounted without any problem before, and now are not mounted at all ?

It looks like the partition table is not correct. Ubuntu shows /dev/sd**x****y**, or only /dev/sd**x** ?

[2015-11-18 19:11] ondonadas commented on #269
Paul, some of them are correctly detected. Others didn't.

Let me try to format them with different OS. Let see what happens...
El dia 18/11/2015 19:29, "Paul RATHGEB" <notifications@github.com> va
escriure:

[2015-11-19 06:33] ks156 commented on #269
They're correctly detected on WeIO, or on Ubuntu ? Are the partition scheme consistent between Ubuntu and WeIO ? (I mean, does a card that doesn't have a partition number on WeIO has one on Ubuntu ?)

[2015-11-19 10:22] ementi opened #270 "Autosave function create .tmp files into /weio"
When I get any kind of error with my weio, there are a lot of " *.tmp " files created in the root.
I am talking about a couple hundred in a few minutes.

[2015-11-19 10:27] ks156 commented on #270
What's the content of these files ? Can you paste one here ?

[2015-11-19 11:44] ementi commented on #270
The content is my code. Exactly my Code of my main.py and index.html. Like Copy & Paste.

[2015-11-19 11:51] ementi commented on #270
Update: Not just when an error occurs. They seem to be randomly created. Not at every error, just sometimes. AND not every time but sometimes when running a program.

[2015-11-19 12:10] ks156 commented on #270
The [autosave function](https://github.com/nodesign/weio/blob/master/www/libs/weio/editor.js#L798-L815) create a [temporary file](https://github.com/nodesign/weio/blob/master/weioLib/weioFiles.py#L181-L199) each 4 seconds. This is really bad for the flash memory.
In addition, in some cases (I didn't find the conditions yet), the temporary files are not moved or deleted, probably due to [this excep

[2015-11-19 12:13] drasko commented on #270
@ukicar please think to completely disable autosave function. Saving all the time something to the flash wears the flash, as it has a limited number of writes. If something has to be saved temporarely, you must always use RAM.

But I think for this purpose, it would be best to remove auto-save option all together.

@nmarcetic opinions?

[2015-11-19 12:24] ks156 commented on #270
:+1: to remove auto-save

We can keep the [CTRL-S function](https://github.com/nodesign/weio/blob/master/www/libs/weio/editor.js#L625-L638), and modify [writeRawContentToFile](https://github.com/nodesign/weio/blob/master/weioLib/weioFiles.py#L181-L199) either that way

[code]
or that way :
[code]

[2015-11-20 22:35] ukicar commented on #270
This is extremely critical bug. I decided to really deactivate autoSave as it's not really necessary. When we want to play it will save, when we want to change the project it will save it first (I just added this feature) and when we preview it will save it. Finally we can manually save by CTRL-S. It's pretty enough i think

Thanks Paul for your propositions specially about saving to the temp befo

[2015-11-22 09:47] ks156 commented on #270
Ok for me. Thanks

[2015-11-29 22:14] ukicar commented on #246
Done! Tested

[2015-11-29 22:14] #246 closed

[2016-01-05 22:24] Capt-Cpt opened #274 "unable to start AP"
Brand new WEIO board does not behave as described at start-up : when powered-up (via USB cable), power led lights up, both AP & STA led blinks 3 or 4 times, eventually AP led becomes steady green but glowing very low. Board adress never shows in available network list...

[2016-01-07 19:19] bcpu commented on #178
I was struggling with this as well but this is these are the parameters that allowed me to record a 10 second wav file with no other files being created.

arecord -D plughw:1,0 -d 10 test.wav

[2016-01-07 23:46] manuIO commented on #274
Hi @Capt-Cpt,

I've already noticed this bug after some updates. You can probably fix the issue if you reinstall the FW as explained here:
https://github.com/nodesign/weio/wiki/WeIO-Recovery#offline-manual-update-via-sd-card-or-usb-key

[2016-01-08 09:51] Capt-Cpt commented on #274
Hi @manuIO,

Thank you for your reply. I have already tried that procedure as described in the WEIO-Recovery page :
*" Plug SD card / USBkey to WeIO
Press and hold SOFT RESET button on WeIO
Plug power to WeIO while keeping the SOFT RESET button pressed
You will see STA led blink 3 times
Now you can release the SOFT RESET BUTTON "*
Trouble is that I never reach the step where *"STA led __blinks 3 t

[2016-01-08 10:08] manuIO commented on #274
HI @Capt-Cpt ,

I've already bypassed this issue, is tedious I know, but is not impossible. You need to try several times.
Please can you try to things:
- Copy the weio_recovery.bin using an empty SD card or USBKey (if you have not already done).
- Copy the weio_recovery.bin but removing the .bin extension

[2016-01-09 20:32] Capt-Cpt commented on #274
Hi @manuIO

Don't know how it worked, but eventually I got normal start without having to flash FW. You were right, I hat to try several times... Seems that powering board with 5 DC power worked better thant by USB cable.
I can now experiment with my board...

Thanks a lot for help

[2016-01-09 22:26] drasko commented on #274
\o/
On 9 Jan 2016 21:32, "Capt-Cpt" <notifications@github.com> wrote:

[2016-01-12 09:15] manuIO commented on #274
:+1:

You're welcome @Capt-Cpt !

[2016-01-13 15:54] #274 closed

[2016-01-14 18:59] #270 closed

[2016-01-14 18:59] #269 closed

[2016-01-14 18:59] #259 closed

[2016-01-14 19:00] #172 closed

[2016-01-14 19:00] #136 closed

[2016-04-21 17:49] ThisNameNotUsed commented on #178
Well I have some other bug that seems to record to the .wav file okay but doesn't output sound with I play or use sox to "play."
The weird thing is too is that sox's "play" command shows an equalizer bar that goes up and down as if sound is coming out but it really isn't.

So I can arecord with a -f command that outputs thousands of blank .wav files or I can leave out the -f and get a .wav file th

[2016-08-12 02:59] nagimov commented on #178
The problem seems to appear on ARM architecture starting from **1.0.28** `arecord` version (`arecord --version`).
On Raspberry Pi 3 running Raspbian Jessie I had the exact same issue (creating bunch of files, not stopping after `--duration` seconds). Downgrading `alsa-utils` from `1.0.28-1` to `1.0.25-4` (rolling back to Wheezy's repo) fixed the problem.

[2016-08-14 13:20] ctownj30 commented on #178
navimov - any way you could share how you downgraded alsa-utils?  the apt repository on jessie does not seem to list older versions and I'm a bit new to this.

[2016-08-19 03:59] nagimov commented on #178
ctownj30 -- http://blog.nagimov.com/alsa-utils-arecord-bug-lots-of-wav-files-ignoring-duration-parameter/

[2016-11-23 11:07] manuio commented on #161
I've created an issue in ace project that seems fixed: https://github.com/ajaxorg/ace/issues/2927

We can update ace version and close this issue.

[2016-12-01 22:18] dmarman commented on #178
I am not able to downgrade alsa-utils. I get this:

[code]

[2016-12-05 05:05] nagimov commented on #178
@dmarman
platform? linux distro & version?
output of `sudo aptitude versions alsa-utils` ?

[2016-12-05 11:55] dmarman commented on #178
ARM Raspberry Pi 3

`Linux version 4.4.26-v7+ (dc4@dc4-XPS13-9333) (gcc version 4.9.3 (crosstool-NG crosstool-ng-1.22.0-88-g8460611) )
`
[code]

[2016-12-06 05:17] nagimov commented on #178
@dmarman have you modified your `/etc/apt/sources.list` ?

[2016-12-06 18:42] dmarman commented on #178
[code]

Do I have to uncomment that?

[2016-12-08 18:02] nagimov commented on #178
@dmarman

* Add `deb http://mirrordirector.raspbian.org/raspbian/ wheezy main contrib non-free rpi` line to the end of `/etc/apt/sources.list` file.

* `sudo apt-get update`

* `sudo aptitude versions alsa-utils`

[2017-03-20 11:25] qleroux opened #277 "JS : Sensors use"
Hi !
Could you add a way to call for sensors values from JS (HC-SR04, DHT11, ...) ?
Like you can do in PY, I don't know if that's possible.
`HCSR04(0,1).distCentimeters()`

Cheers !

[2017-03-20 12:37] manuio commented on #277
Hi @qlroux,
You can use serverPush() as here: https://github.com/nodesign/weio/blob/master/examples/pythonAndJS/serverPush/main.py#L22 to send data from python to JS. You need to previously define your JS callback as here: https://github.com/nodesign/weio/blob/master/examples/pythonAndJS/serverPush/index.html#L20

Ciao!

[2017-03-20 14:57] qleroux commented on #277
Hi @manuIO !
Thanks a lot, I've tried and It works perfectly ! It doesn't seams to be as speed as printing the results in PY, I guess it works just fine if you don't send it too often.

Though I just can't manage to send two messages. Do you happend to know why ?
[code]

[2017-03-20 15:01] ukicar commented on #277
Hello,
That's because you have 2 while loops!
Your program is prisoner of the first loop so it will never reach the second one.

However you can launch two separate processes.
[code]

[2017-03-20 15:11] qleroux commented on #277
Thanks a lot Uros, that's really healpfull !
I'm having a lot a fun with WeIO.
Cheers

[2017-03-29 09:32] #277 closed, assigned to nobody

[2017-03-29 09:44] qleroux opened #278 "More sensors coming ? (sound, luminosity, infrared...)"
Hi !
Do you think that you can add more sensors compatibility (sound, luminosity, infrared, magnetic...) ?

Do you need to manually add drivers for every new sensor so we can use them or is there a simple way to get the data from any sensor ? Starting with the VMA309 from Velleman will be truly appreciated. I've not being able to read data from it at all (missing class or driver I presume).

Thank

[2017-03-29 13:22] ukicar commented on #278
Hello,
There is a great number of drivers that you can use as they are (written in Python of course)... Specially drivers that deals with i2c and smbus on Linux will work out of box...

But for a lot of sensors you don't need drivers. For example VMA309 is just simple analog sensor. You can simply use analogRead(pinNumber) to read values from it

[2017-03-29 14:38] qleroux commented on #278
Ok, didn't know. I'll try
Thanks a lot !

[2017-06-02 10:16] saurabhvyas commented on #178
I can confirm this is a bug , It happened with me on my pi 3

[2017-07-01 11:49] slmnv5 commented on #178
The same happens on my Pi 3 with Jessie. This command creates small files and does not stop in 5 seconds:
`arecord -f s16_le -r 44100 -D hw:0 -d 5 test44.wav`
however this similar command works just fine:
`arecord -f s16_le -r 48000 -D hw:0 -d 5 test.wav`

[2017-07-01 12:05] dmarman commented on #178
This is a bug in alsa 1.0.28 on ARM. A solution is to upgrade your alsa-utils to 1.1.3 from source code. I followed the last answer here:

[link](https://stackoverflow.com/questions/24629915/multiple-files-created-by-arecord)

If I remember correctly I got a problem with the installation. I think I didn't have libasound2 installed in my raspberry.

[2018-01-03 05:30] D4mo opened #279 "SPI not working"
Hi!

Im prototyping with your platform from a while now, and i cant make to work de SPI comunication yet, im monitoring the sclk pin with an osciloscope and the signal is dead. I got two WEIO, and the same problem on both, i didnt see any open issue about this, so i dont to know if it is only happening on my devices. Im using the WeIO version 1.3 with Python 2.7.9.

Thank you!!

(i tried with the